openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: 'http://api.banco.com.br/open-banking/bank-borrowing/v1'
tags:
  - name: Bank Borrowing
paths:
  /contract:
    get:
      tags:
        - Bank Borrowing
      summary: Obtém dados referentes à identificação da operação de crédito.
      description: Método para obter os dados referentes à identificação da operação de crédito.
      operationId: getBankBorrowingContract
      parameters:
        - name: page
          in: query
          description: Número da página que está sendo requisitada (o valor da primeira página é 1).
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: page-size
          in: query
          description: Quantidade total de registros por páginas.
          schema:
            type: integer
            default: 25
            minimum: 1
      responses:
        '200':
          description: Dados sobre identificação da operação de crédito.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - bankBorrowing
                    properties:
                      bankBorrowing:
                        type: object
                        description: |
                          Conjunto de informações de operações de crédito contratadas
                        required:
                          - contract
                        properties:
                          contract:
                            type: object
                            description: Conjunto de informações referentes à identificação da operação de crédito
                            required:
                              - contractId
                              - requestDateTime
                              - productName
                              - productType
                              - contractDate
                              - disbursementDate
                              - contractAmount
                              - currency
                              - dueDate
                              - instalmentPeriodicity
                              - dueFirstInstalmentDate
                              - totalNumberOfInstalments
                              - interestRates
                              - financeChargeType
                            properties:
                              contractId:
                                type: string
                                maxLength: 67
                                description: |
                                  Número padronizado do contrato - IPOC (Identificação Padronizada da Operação de Crédito). Segundo DOC 3040, composta por: 
                                  - **CNPJ da instituição:** 8 (oito) posições iniciais;
                                  - **Modalidade da operação:** 4 (quatro) posições;
                                  - **Tipo do cliente:** 1 (uma) posição( 1 = pessoa natural - CPF, 2= pessoa jurídica – CNPJ, 3 = pessoa física no exterior, 4 = pessoa jurídica no exterior, 5 = pessoa natural sem CPF e 6 = pessoa jurídica sem CNPJ);
                                  - **Código do cliente:** O número de posições varia conforme o tipo do cliente:
                                    1. Para clientes pessoa física com CPF (tipo de cliente = 1), informar as 11 (onze) posições do CPF;
                                    2. Para clientes pessoa jurídica com CNPJ (tipo de cliente = 2), informar as 8 (oito) posições iniciais do CNPJ;
                                    3. Para os demais clientes (tipos de cliente 3, 4, 5 e 6), informar 14 (catorze) posições com complemento de zeros à esquerda se a identificação tiver tamanho inferior;
                                  - **Código do contrato:** 1 (uma) até 40 (quarenta) posições, sem complemento de caracteres.
                              requestDateTime:
                                type: string
                                maxLength: 20
                                format: DateTimeString
                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                example: '2020-07-21T08:30:00Z'
                                description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                              productName:
                                type: string
                                maxLength: 140
                                pattern: \w*\W*
                                description: |
                                  Denominação/Identificação do nome da Modalidade da Operação de Crédito divulgado ao cliente
                              productType:
                                type: string
                                description: |
                                  Tipo da modalidade de crédito contratada, conforme circular 4.015 e descrição do DOC3040 do SCR). (Vide Enum)
                                  Adiantamento a depositantes, Direitos creditórios descontados Empréstimos,  Financiamentos, Financiamentos rurais  e Financiamentos imobiliários
                                enum:
                                  - ADIANTAMENTO_A_DEPOSITANTES
                                  - DIREITOS_CREDITORIOS_DESCONTADOS
                                  - EMPRESTIMO
                                  - FINANCIAMENTOS
                                  - FINANCIAMENTOS_RURAIS
                                  - FINANCIAMENTOS_IMOBILIARIOS
                                example: ADIANTAMENTO_A_DEPOSITANTES
                              contractDate:
                                type: string
                                description: Data de contratação da operação de crédito. Especificação RFC-3339
                                maxLength: 10
                                format: DateString
                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                              disbursementDate:
                                type: string
                                description: Data do Desembolso do valor contratado. Especificação RFC-3339
                                maxLength: 10
                                format: DateString
                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                              contractAmount:
                                type: string
                                maxLength: 12
                                format: AmountString
                                description: Valor contratado da operação. Expresso em valor monetário com 2 casas decimais
                              currency:
                                type: string
                                pattern: '^(\w{3}){1}$'
                                maxLength: 3
                                format: CurrencyString
                                description: |
                                  Moeda referente ao valor da garantia, segundo modelo ISO-4217. p.ex. 'BRL' 
                                  Todos os valores monetários informados estão representados com a moeda vigente do Brasil
                                example: BRL
                              dueDate:
                                type: string
                                maxLength: 10
                                format: DateString
                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                description: Data de vencimento Final da operação. Especificação RFC-3339
                              instalmentPeriodicity:
                                type: string
                                description: |
                                  Informação relativa à periodicidade regular das parcelas. (Vide Enum)
                                  sem periodicidade regular, semanal, quinzenal, mensal, trimestral, semestral, anual
                                enum:
                                  - SEM_PERIODICIDADE_REGULAR
                                  - SEMANAL
                                  - QUINZENAL
                                  - MENSAL
                                  - BIMESTRAL
                                  - TRIMESTRAL
                                  - SEMESTRAL
                                  - ANUAL
                                example: SEMANAL
                              dueFirstInstalmentDate:
                                type: string
                                maxLength: 10
                                format: DateString
                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                description: Data de vencimento primeira parcela
                              totalNumberOfInstalments:
                                type: string
                                description: Prazo Total em meses do contrato referente à Modalidade de Crédito informada
                                maxLength: 3
                              interestRates:
                                type: array
                                items:
                                  type: object
                                  description: 'Objeto que traz o conjunto de informações necessárias para demonstrar a composição das taxas de juros remuneratórios, do CET e do sistema de Amortização da Modalidade de crédito'
                                  required:
                                    - referentialRateIndexerType
                                    - preFixedRate
                                    - postFixedRate
                                    - taxPeriodicity
                                    - interestRateType
                                    - calculation
                                    - additionalInfo
                                    - taxType
                                    - CET
                                    - amortizationSchedule
                                  properties:
                                    referentialRateIndexerType:
                                      type: string
                                      description: |
                                        Tipos de taxas referenciais ou indexadores, conforme Anexo 5: Taxa referencial ou Indexador (Indx), do Documento 3040
                                      enum:
                                        - SEM_INDEXADOR_TAXA
                                        - PRE_FIXADO
                                        - POS_FIXADO
                                        - FLUTUANTES
                                        - INDICES_PRECOS
                                        - CREDITO_RURAL
                                        - OUTROS_INDEXADORES
                                      example: PRE_FIXADO
                                    referentialRateIndexerAdditionalInfo:
                                      type: string
                                      description: 'Campo livre de preenchimento obrigatório para complementar a informação relativa ao Tipo de taxa referencial ou indexador, quando selecionada o tipo ou subtipo OUTRO'
                                      maxLength: 140
                                      pattern: \w*\W*
                                    preFixedRate:
                                      type: string
                                      description: |
                                        Taxa pré fixada aplicada sob o contrato da modalidade crédito. 
                                        p.ex. 0.0045. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros
                                        (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)
                                      maxLength: 6
                                      pattern: '(^[0-9](\.[0-9]{4})$|^NA$)'
                                      example: 0.15
                                    postFixedRate:
                                      type: string
                                      description: |
                                        Taxa pós fixada aplicada sob o contrato da modalidade crédito. 
                                        p.ex. 0.0045 .O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros
                                        (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%) 
                                      maxLength: 6
                                      pattern: '(^[0-9](\.[0-9]{4})$|^NA$)'
                                      example: 0.15
                                    taxPeriodicity:
                                      type: string
                                      description: |
                                        Periodicidade da taxa . (Vide  Enum)
                                        a.m - ao mês
                                        a.a. - ao ano
                                      enum:
                                        - AM
                                        - AA
                                      example: AA
                                    interestRateType:
                                      type: string
                                      description: |
                                        Tipo de Juros  (vide  Enum)
                                        - SIMPLES (aplicada/cobrada sempre sobre o capital inicial, que é o valor emprestado/investido. Não há cobrança de juros sobre juros acumulados no(s) período(s) anterior(es). Exemplo: em um empréstimo de R$1.000, com taxa de juros simples de 8% a.a., com duração de 2 anos, o total de juros será R$80 no primeiro ano e R$ 80 no segundo ano. Ao final do contrato, o tomador irá devolver o principal e os juros simples de cada ano: R$1.000+R$80+R$80=R$1.160)
                                        - COMPOSTO (para cada período do contrato (diário, mensal, anual etc.), há um “novo capital” para a cobrança da taxa de juros contratada. Esse “novo capital” é a soma do capital e do juro cobrado no período anterior. Exemplo: em um empréstimo de R$1.000, com taxa de juros composta de 8% a.a., com duração de 2 anos, o total de juros será R$80 no primeiro ano. No segundo ano, os juros vão ser somados ao capital (R$1.000 + R$ 80 = R$ 1.080), resultando em juros de R$ 86 (8%de R$ 1.080))
                                      enum:
                                        - SIMPLES
                                        - COMPOSTO
                                      example: SIMPLES
                                    calculation:
                                      type: string
                                      description: |
                                        Base de cálculo (Vide Enum)
                                        - 1.21/25
                                        - 2.30/360
                                        - 3.30/365
                                      enum:
                                        - 1.21/25
                                        - 2.30/360
                                        - 3.30/365
                                      example: 1.21/25
                                    additionalInfo:
                                      type: string
                                      maxLength: 1200
                                      description: Texto com informações adicionais sobre a composição das taxas de juros pactuadas
                                      pattern: \w*\W*
                                    taxType:
                                      type: string
                                      description: |
                                        Tipo de Taxa (vide  Enum)
                                        - NOMINAL (taxa nominal é uma taxa de juros em que a unidade referencial não coincide com a unidade de tempo da capitalização. Ela é sempre fornecida em termos anuais, e seus períodos de capitalização podem ser diários, mensais, trimestrais ou semestrais. p.ex. Uma taxa de 12% ao ano com capitalização mensal)
                                        - EFETIVA (É a taxa de juros em que a unidade referencial coincide com a unidade de tempo da capitalização. Como as unidades de medida de tempo da taxa de juros e dos períodos de capitalização são iguais, usa-se exemplos simples como 1% ao mês, 60% ao ano)
                                      enum:
                                        - NOMINAL
                                        - EFETIVA
                                      example: EFETIVA
                                    CET:
                                      type: string
                                      description: |
                                        CET – Custo Efetivo Total deve ser expresso na forma de taxa percentual anual e   incorpora todos os encargos e despesas incidentes nas operações de crédito (taxa de juro, mas também tarifas, tributos, seguros e outras despesas cobradas).
                                        O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros
                                        (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)
                                      maxLength: 6
                                      pattern: '(^[0-9](\.[0-9]{4})$|^NA$)'
                                      example: 0.15
                                    amortizationSchedule:
                                      type: string
                                      description: |
                                        Sistema de amortização (Vide Enum)
                                        - SAC (Sistema de Amortização Constante -   é aquele em que o valor da amortização permanece igual até o final. Os juros  cobrados sobre o parcelamento não entram nesta conta)
                                        - PRICE (Sistema Francês de Amortização - As parcelas são fixas do início ao fim do contrato. Ou seja, todas as parcelas terão o mesmo valor, desde a primeira até a última. Nos primeiros pagamentos, a maior parte do valor da prestação corresponde aos juros. Ao longo do tempo, a taxa de juros vai decrescendo. Como o valor da prestação é fixo, com o passar das parcelas, o valor de amortização vai aumentando)
                                        - SAM (Sociedade de arrendamento mercantil) - realiza arrendamento de bens móveis e imóveis adquiridos por ela, segundo as especificações da arrendatária (cliente), para fins de uso próprio desta. Assim, os contratantes deste serviço podem usufruir de determinado bem sem serem proprietários dele. As operações de arrendamento mercantil podem ser divididas em duas modalidades: leasing financeiro e leasing operacional. A diferença básica é que no leasing financeiro o prazo é usualmente maior e o arrendatário tem a possibilidade de adquirir o bem por um valor pré-estabelecido. Ao final do contrato, o arrendatário tem as opções de efetivar a aquisição do bem arrendado ou devolvê-lo. Ao final do leasing financeiro, em geral o cliente já terá pago a maior parte do valor do bem, não sendo a devolução, embora possível, financeiramente vantajosa)
                                        - SEM SISTEMA DE AMORTIZAÇÃO
                                      enum:
                                        - SAC
                                        - PRICE
                                        - SAM
                                        - SEM_SISTEMA_AMORTIZACAO
                                      example: SAC
                                minItems: 1
                              feeName:
                                type: string
                                maxLength: 140
                                pattern: \w*\W*
                                description: Denominação da Tarifa avulsa
                              feeCode:
                                type: string
                                maxLength: 140
                                pattern: \w*\W*
                                description: Sigla identificadora da tarifa avulsa
                              financeChargeType:
                                type: string
                                description: |
                                  Tipo de encargo pactuado no contrato. (Vide Enum) 
                                enum:
                                  - JUROS_REMUNERATORIOS_POR_ATRASO
                                  - MULTA_ATRASO_PAGAMENTO
                                  - JUROS_MORA_ATRASO
                                  - IOF_CONTRATACAO
                                  - IOF_POR_ATRASO
                                  - OUTROS
                                example: JUROS_REMUNERATORIOS_POR_ATRASO
                              financeChargeAdditionalInfo:
                                type: string
                                description: Campo de preenchimento obrigatório se selecionada a opção 'OUTROS' em Tipo de encargo avulso
                                pattern: \w*\W*
                              cnpjGuarantor:
                                type: string
                                description: |
                                  CNPJ do consignante (CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica). Deve-se ter apenas os números do CNPJ, sem máscara. Informação adicional específica para Modalidade de Crédito: Empréstimo-Crédito Pessoal Consignado
                                maxLength: 14
                                pattern: '\d{14}'
                  links:
                    type: object
                    description: Referências para outros recusos da API requisitada.
                    required:
                      - self
                    properties:
                      self:
                        type: string
                        format: URIString
                        description: URI completo que gerou a resposta atual.
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                      first:
                        type: string
                        format: URIString
                        description: URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                      prev:
                        type: string
                        format: URIString
                        description: "URI da página anterior dessa lista de resultados. Restrição - \tObrigatório quando não for a primeira página da resposta"
                      next:
                        type: string
                        format: URIString
                        description: URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
                      last:
                        type: string
                        format: URIString
                        description: URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                  meta:
                    type: object
                    description: Meta informações referente a API requisitada.
                    properties:
                      totalRecords:
                        type: integer
                        description: Número total de registros no resultado
                        example: 1
                      totalPages:
                        type: integer
                        description: Número total de páginas no resultado
                        example: 1
                    required:
                      - totalRecords
                      - totalPages
        '400':
          description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
        '401':
          description: Cabeçalho de autenticação ausente/inválido ou token inválido.
        '403':
          description: O token tem escopo incorreto ou uma política de segurança foi violada.
        '404':
          description: O recurso solicitado não existe ou não foi implementado.
        '405':
          description: O consumidor tentou acessar o recurso com um método não suportado.
        '406':
          description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8.
        '410':
          description: Indica que o recurso não está mais disponível.
        '422':
          description: 'A solicitação foi bem formada, mas não pôde ser processada devido à lógica de negócios específica da solicitação.'
        '429':
          description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido.'
        '500':
          description: Ocorreu um erro no gateway da API ou no microsserviço.
        '503':
          description: O serviço está indisponível no momento.
        '504':
          description: O servidor não pôde responder em tempo hábil.
  /warranties:
    get:
      tags:
        - Bank Borrowing
      summary: Obtém dados referentes às garantias que avalizam a operação de crédito contratada.
      description: Método para obter os dados referentes às garantias que avalizam a operação de crédito contratada.
      operationId: getBankBorrowingWarranties
      parameters:
        - $ref: '#/paths/~1contract/get/parameters/0'
        - $ref: '#/paths/~1contract/get/parameters/1'
      responses:
        '200':
          description: Dados sobre garantias que avalizam a operação de crédito contratada.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - bankBorrowing
                    properties:
                      bankBorrowing:
                        type: object
                        description: |
                          Conjunto de informações de operações de crédito contratadas
                        required:
                          - warranties
                        properties:
                          warranties:
                            type: object
                            description: Conjunto de informações referentes às garantias que avalizam a operação de crédito contratada
                            required:
                              - contractId
                              - requestDateTime
                              - currency
                            properties:
                              contractId:
                                type: string
                                maxLength: 67
                                description: |
                                  Número padronizado do contrato - IPOC (Identificação Padronizada da Operação de Crédito). Segundo DOC 3040, composta por: 
                                  - **CNPJ da instituição:** 8 (oito) posições iniciais;
                                  - **Modalidade da operação:** 4 (quatro) posições;
                                  - **Tipo do cliente:** 1 (uma) posição( 1 = pessoa natural - CPF, 2= pessoa jurídica – CNPJ, 3 = pessoa física no exterior, 4 = pessoa jurídica no exterior, 5 = pessoa natural sem CPF e 6 = pessoa jurídica sem CNPJ);
                                  - **Código do cliente:** O número de posições varia conforme o tipo do cliente:
                                    1. Para clientes pessoa física com CPF (tipo de cliente = 1), informar as 11 (onze) posições do CPF;
                                    2. Para clientes pessoa jurídica com CNPJ (tipo de cliente = 2), informar as 8 (oito) posições iniciais do CNPJ;
                                    3. Para os demais clientes (tipos de cliente 3, 4, 5 e 6), informar 14 (catorze) posições com complemento de zeros à esquerda se a identificação tiver tamanho inferior;
                                  - **Código do contrato:** 1 (uma) até 40 (quarenta) posições, sem complemento de caracteres.
                              requestDateTime:
                                type: string
                                maxLength: 20
                                format: DateTimeString
                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                example: '2020-07-21T08:30:00Z'
                                description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                              currency:
                                type: string
                                pattern: '^(\w{3}){1}$'
                                maxLength: 3
                                format: CurrencyString
                                description: |
                                  Moeda referente ao valor da garantia, segundo modelo ISO-4217. p.ex. 'BRL' 
                                  Todos os valores monetários informados estão representados com a moeda vigente do Brasil
                                example: BRL
                              contractedWarranties:
                                type: array
                                items:
                                  type: object
                                  description: Conjunto de informações referentes às garantias que avalizam a operação de crédito contratada
                                  required:
                                    - warrantyType
                                    - warrantySubType
                                    - warrantyAmount
                                  properties:
                                    warrantyType:
                                      type: string
                                      description: |
                                        Denominação/Identificação do tipo da garantia que avaliza a Modalidade da Operação de Crédito contratada  (Doc 3040, Anexo 12)
                                      enum:
                                        - CESSAO_DIREITOS_CREDITORIOS
                                        - CAUCAO
                                        - PENHOR
                                        - ALIENACAO_FIDUCIARIA
                                        - HIPOTECA
                                        - OPERACOES_GARANTIDAS_PELO_GOVERNO
                                        - OUTRAS_GARANTIAS_NAO_FIDEJUSSORIAS
                                        - SEGUROS_ASSEMELHADOS
                                        - GARANTIA_FIDEJUSSORIA
                                        - BENS_ARRENDADOS
                                        - GARANTIAS_INTERNACIONAIS
                                        - OPERACOES_GARANTIDAS_OUTRAS_ENTIDADES
                                        - ACORDOS_COMPENSACAO
                                        - NAO_APLICAVEL
                                      example: CESSAO_DIREITOS_CREDITORIOS
                                    warrantySubType:
                                      type: string
                                      description: |
                                        Denominação/Identificação do sub tipo da garantia que avaliza a Modalidade da Operação de Crédito contratada (Doc 3040, Anexo 12)
                                      enum:
                                        - ACOES_DEBENTURES
                                        - APLICACOES_FINANCEIRAS_RENDA_FIXA
                                        - APLICACOES_FINANCEIRAS_RENDA_VARIAVEL
                                        - APOLICES_CREDITO_EXPORTACAO
                                        - CCR_CONVENIO _CREDITOS_RECIPROCOS
                                        - CHEQUES
                                        - CIVIL
                                        - DIREITOS_SOBRE_ALUGUEIS
                                        - DEPOSITOS_A_VISTA_A_PRAZO_POUPANCA_OURO_TITULOS_PUBLICOS_FEDERAIS_ART_36
                                        - DEPOSITO_TITULOS_EMITIDOS_ENTIDADES_ART_23
                                        - DUPLICATAS
                                        - EMD_ENTIDADES_MULTILATERAIS_DESENVOLVIMENTO_ART_37
                                        - EQUIPAMENTOS FATURA_CARTAO_CREDITO
                                        - ESTADUAL_OU_DISTRITAL
                                        - FATURA_CARTAO_CREDITO
                                        - FEDERAL
                                        - FCVS_FUNDO_COMPENSACAO_VARIACOES_SALARIAIS
                                        - FGI_FUNDO_GARANTIDOR_INVESTIMENTOS
                                        - FGPC_FUNDO_GARANTIA_PROMOCAO_COMPETIT
                                        - FGTS_FUNDO_GARANTIA_TEMPO_SERVICO
                                        - FUNDO_GARANTIDOR_AVAL
                                        - GARANTIA_PRESTADA_FGPC_LEI_9531_ART_37
                                        - GARANTIA_PRESTADA_FUNDOS_QUAISQUER_OUTROS_MECANISMOS_COBERTURA_RISCO_CREDITO_ART_37
                                        - GARANTIA_PRESTADA_TESOURO_NACIONAL_OU_BACEN_ART_37BENS_DIREITOS_INTEGRANTES_PATRIMONIO_AFETACAO
                                        - IMOVEIS
                                        - IMOVEIS_RESIDENCIAIS
                                        - MITIGADORAS
                                        - MUNICIPAL
                                        - NAO_MITIGADORAS
                                        - NOTAS_PROMISSORIAS_OUTROS_DIREITOS_CREDITO
                                        - OUTRAS
                                        - OUTROS
                                        - OUTROS_BENS
                                        - OUTROS_GRAUS
                                        - OUTROS_IMOVEIS
                                        - OUTROS_SEGUROS_ASSEMELHADOS OUTROS_BENS
                                        - PESSOA_FISICA
                                        - PESSOA_FISICA_EXTERIOR
                                        - PESSOA_JURIDICA
                                        - PESSOA_JURIDICA_EXTERIOR
                                        - PRIMEIRO_GRAU_BENS_DIREITOS_INTEGRANTES_PATRIMONIO_AFETACAO
                                        - PRIMEIRO_GRAU_IMOVEIS_RESIDENCIAIS
                                        - PRIMEIRO_GRAU_OUTROS
                                        - PRODUTOS_AGROPECUARIOS_COM_WARRANT
                                        - PRODUTOS_AGROPECUARIOS_SEM_WARRANT
                                        - SBCE_SOCIEDADE_BRASILEIRA_CREDITO_EXPORTAÇÃO
                                        - SEGURO_RURAL
                                        - TRIBUTOS_RECEITAS_ORCAMENTARIAS
                                        - VEICULOS
                                        - VEICULOS_AUTOMOTORES
                                      example: NOTAS_PROMISSORIAS_OUTROS_DIREITOS_CREDITO
                                    warrantyAmount:
                                      type: string
                                      maxLength: 12
                                      format: AmountString
                                      nullable: true
                                      description: 'Valor original da garantia. Valor monetário, expresso com 2 casas decimais'
                                minItems: 1
                                description: Lista das garantias que avalizam a operação de crédito contratada
                  links:
                    $ref: '#/paths/~1contract/get/responses/200/content/application~1json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1contract/get/responses/200/content/application~1json/schema/properties/meta'
        '400':
          $ref: '#/paths/~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1contract/get/responses/504'
  /payments:
    get:
      tags:
        - Bank Borrowing
      summary: Obtém dados dos pagamentos referentes às operações de crédito contratadas.
      description: Método para obter os dados dos pagamentos referentes às operações de crédito contratadas.
      operationId: getBankBorrowingPayments
      parameters:
        - $ref: '#/paths/~1contract/get/parameters/0'
        - $ref: '#/paths/~1contract/get/parameters/1'
      responses:
        '200':
          description: Conjunto de informações dos pagamentos referentes às operações de crédito contratadas
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - bankBorrowing
                    properties:
                      bankBorrowing:
                        type: object
                        description: |
                          Conjunto de informações dos pagamentos referentes às operações de crédito contratadas
                        required:
                          - payments
                        properties:
                          payments:
                            type: object
                            description: Conjunto de informações dos pagamentos referentes às operações de crédito contratadas
                            required:
                              - contractId
                              - requestDateTime
                              - paidInstalments
                              - nonRegulatedCharge
                              - contractOutstandingBalance
                              - releases
                              - completedPayment
                            properties:
                              contractId:
                                type: string
                                maxLength: 67
                                description: |
                                  Número padronizado do contrato -IPOC (Identificação Padronizada da Operação de Crédito). Segundo DOC 3040, composta por, :
                                  - CNPJ da instituição: 8 (oito) posições iniciais;
                                  - Modalidade da operação: 4 (quatro) posições;
                                  - Tipo do cliente: 1 (uma) posição( 1 = pessoa natural - CPF, 2= pessoa jurídica – CNPJ, 3 = pessoa física no exterior, 4 = pessoa jurídica no exterior, 5 = pessoa natural sem CPF e 6 = pessoa jurídica sem CNPJ);
                                  - Código do cliente: O número de posições varia conforme o tipo do cliente:
                                  1. Para clientes pessoa física com CPF (tipo de cliente = 1), informar as 11 (onze) posições do CPF;
                                  Para clientes pessoa jurídica com CNPJ (tipo de cliente = 2), informar as 8 (oito) posições iniciais do CNPJ;
                                  3. Para os demais clientes (tipos de cliente 3, 4, 5 e 6), informar 14 (catorze) posições com complemento de zeros à esquerda se a identificação tiver tamanho inferior;
                                  - Código do contrato: 1 (uma) até 40 (quarenta) posições, sem complemento de caracteres.
                                example: '92792126019929279212650822221989319252576'
                              requestDateTime:
                                type: string
                                maxLength: 20
                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                example: '2020-01-05T08:30:00Z'
                                description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                              paidInstalments:
                                type: number
                                maxLength: 3
                                description: Quantidade total de parcelas pagas do contrato referente à Modalidade de Crédito informada
                                example: '73'
                              nonRegulatedCharge:
                                type: object
                                required:
                                  - currency
                                properties:
                                  currency:
                                    type: string
                                    pattern: '^(\w{3}){1}$'
                                    maxLength: 3
                                    format: CurrencyString
                                    description: 'Moeda referente ao valor mínimo da Tarifa, segundo modelo ISO-4217'
                                    example: BRL
                              contractOutstandingBalance:
                                type: string
                                maxLength: 12
                                description: 'Saldo devedor Remanescente, divulgado nos canais eletrônicos, do contrato referente à Modalidade de Crédito informada. Expresso em valor monetário com 2 casas decimais'
                                example: '11400.00'
                              releases:
                                type: object
                                description: Lista dos pagamentos realizados no período
                                required:
                                  - paymentType
                                properties:
                                  paymentType:
                                    type: string
                                    description: Tipo de pagamento que está sendo informado
                                    enum:
                                      - PARCELA_REGULAR
                                      - PARCELA_NAO_REGULAR
                                      - TARIFA_AVULSA
                                      - ENCARGO_AVULSO
                                      - PAGAMETNO_EXTRAORDINARIO_AMORTIZACAO
                                    example: PARCELA_REGULAR
                              instalmentPeriodicity:
                                type: string
                                description: Informação relativa à periodicidade regular das parcelas.
                                enum:
                                  - SEMANAL
                                  - QUINZENAL
                                  - MENSAL
                                  - BIMESTRAL
                                  - TRIMESTRAL
                                  - SEMESTRAL
                                  - ANUAL
                                example: SEMANAL
                              feeName:
                                type: string
                                description: Denominação da Tarifa avulsa
                                maxLength: 140
                                pattern: \w*\W*
                              feeCode:
                                type: string
                                description: Sigla identificadora da tarifa avulsa
                                maxLength: 140
                              financeChargeType:
                                type: string
                                description: Tipo de encargo avulso
                                enum:
                                  - JUROS_REMUNERATORIOS_POR_ATRASO
                                  - MULTA_ATRASO_PAGAMENTO
                                  - JUROS_MORA_ATRASO
                                  - IOF_CONTRATACAO
                                  - OUTROS
                                example: JUROS_REMUNERATORIOS_POR_ATRASO
                              financeChargeAdditionalInfo:
                                type: string
                                description: Campo de preenchimento obrigatório se selecionada a opção 'OUTROS' em Tipo de encargo avulso
                                pattern: \w*\W*
                              completedPayment:
                                type: array
                                description: Lista que traz as datas de vencimento e o valor monetário do pagamento do contrato da modalidade de crédito consultada
                                items:
                                  type: object
                                  required:
                                    - paymentDate
                                    - dueAmount
                                  properties:
                                    paymentDate:
                                      type: string
                                      description: 'Traz as datas de vencimento do pagamento do contrato da modalidade de crédito consultada, conforme especificação RFC-3339'
                                      pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                      maxLength: 10
                                      example: '2020-01-10'
                                    dueAmount:
                                      type: string
                                      description: Traz o valor do pagamento do contrato da modalidade de crédito consultada. Expresso em valor monetário com 2 casas decimais
                                      maxLength: 12
                                      example: '200.00'
                  links:
                    $ref: '#/paths/~1contract/get/responses/200/content/application~1json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1contract/get/responses/200/content/application~1json/schema/properties/meta'
        '400':
          $ref: '#/paths/~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1contract/get/responses/504'
  /instalments:
    get:
      tags:
        - Bank Borrowing
      summary: Obtém dados referentes às parcelas / prestações da operação de crédito contratada.
      description: Método para obter os dados referentes às parcelas / prestações da operação de crédito contratada.
      operationId: getBankBorrowingInstalments
      parameters:
        - $ref: '#/paths/~1contract/get/parameters/0'
        - $ref: '#/paths/~1contract/get/parameters/1'
      responses:
        '200':
          description: Conjunto de informações dos pagamentos referentes às parcelas / prestações da operação de crédito contratada.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    description: Conjunto de informações de operação de crédito contratadas
                    required:
                      - bankBorrowing
                    properties:
                      bankBorrowing:
                        type: object
                        description: |
                          Conjunto de informações referentes às parcelas / prestações da operação de crédito contratada
                        required:
                          - instalments
                        properties:
                          instalments:
                            type: object
                            description: Conjunto de informações referentes às parcelas / prestações da operação de crédito contratada
                            required:
                              - contractId
                              - requestDateTime
                              - totalNumberOfInstalments
                              - contractRemainingMonths
                              - dueInstalments
                              - pastDueInstalments
                              - paidInstalments
                              - ballonPayment
                            properties:
                              contractId:
                                type: string
                                maxLength: 67
                                description: |
                                  Número padronizado do contrato -IPOC (Identificação Padronizada da Operação de Crédito). Segundo DOC 3040, composta por, :
                                  - CNPJ da instituição: 8 (oito) posições iniciais;
                                  - Modalidade da operação: 4 (quatro) posições;
                                  - Tipo do cliente: 1 (uma) posição( 1 = pessoa natural - CPF, 2= pessoa jurídica – CNPJ, 3 = pessoa física no exterior, 4 = pessoa jurídica no exterior, 5 = pessoa natural sem CPF e 6 = pessoa jurídica sem CNPJ);
                                  - Código do cliente: O número de posições varia conforme o tipo do cliente:
                                  1. Para clientes pessoa física com CPF (tipo de cliente = 1), informar as 11 (onze) posições do CPF;
                                  Para clientes pessoa jurídica com CNPJ (tipo de cliente = 2), informar as 8 (oito) posições iniciais do CNPJ;
                                  3. Para os demais clientes (tipos de cliente 3, 4, 5 e 6), informar 14 (catorze) posições com complemento de zeros à esquerda se a identificação tiver tamanho inferior;
                                  - Código do contrato: 1 (uma) até 40 (quarenta) posições, sem complemento de caracteres.
                                example: '92792126019929279212650822221989319252576'
                              requestDateTime:
                                type: string
                                maxLength: 20
                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                example: '2020-01-05T08:30:00Z'
                                description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                              totalNumberOfInstalments:
                                type: number
                                maxLength: 3
                                description: Prazo Total em meses do contrato referente à Modalidade de Crédito informada
                                example: '130'
                              contractRemainingMonths:
                                type: number
                                maxLength: 3
                                description: Prazo Remanescente em meses do contrato referente à Modalidade de Crédito informada
                                example: '57'
                              dueInstalments:
                                type: number
                                maxLength: 3
                                description: 'Quantidade de prestações a vencer. (No caso de modalidades que não possuam parcelas, o número de prestações é igual a zero)'
                                example: '57'
                              pastDueInstalments:
                                type: number
                                maxLength: 3
                                description: 'Quantidade de prestações vencidas. (No caso de modalidades que não possuam parcelas, o número de prestações é igual a zero)'
                                example: '73'
                              paidInstalments:
                                type: number
                                maxLength: 3
                                description: 'Quantidade de prestações pagas. (No caso de modalidades que não possuam parcelas, o número de prestações é igual a zero)'
                                example: '73'
                              ballonPayment:
                                type: object
                                description: Conjunto de informações relativas às parcelas não regulares do contrato da modalidade de crédito consultada
                                required:
                                  - currency
                                  - instalments
                                properties:
                                  currency:
                                    $ref: '#/paths/~1payments/get/responses/200/content/application~1json/schema/properties/data/properties/bankBorrowing/properties/payments/properties/nonRegulatedCharge/properties/currency'
                                  instalments:
                                    type: array
                                    description: Lista que traz as datas de vencimento e valor das parcelas não regulares  do contrato da modalidade de crédito consultada
                                    items:
                                      type: object
                                      required:
                                        - dueDate
                                        - amount
                                      properties:
                                        dueDate:
                                          type: string
                                          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                          description: 'Traz a data de vencimento da parcela não regular  a vencer do contrato da modalidade de crédito consultada, conforme especificação RFC-3339'
                                          maxLength: 10
                                          example: '2020-01-10'
                                        amount:
                                          type: string
                                          nullable: true
                                          description: Valor monetário da parcela não regular a vencer.  Expresso em valor monetário com 2 casas decimais
                                          maxLength: 12
                                          example: '200.00'
                  links:
                    $ref: '#/paths/~1contract/get/responses/200/content/application~1json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1contract/get/responses/200/content/application~1json/schema/properties/meta'
        '400':
          $ref: '#/paths/~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1contract/get/responses/504'
