openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: 'http://api.banco.com.br/open-banking/customers/v1'
tags:
  - name: Identification
  - name: Qualification
paths:
  /personal-identification:
    get:
      tags:
        - Identification
      summary: Obtém dados relativos à identificação pessoa natural
      description: Obtém dados relativos à identificação pessoa natural
      operationId: getPersonalIdentification
      parameters:
        - $ref: '#/paths/~1personal-qualification/get/parameters/0'
        - $ref: '#/paths/~1personal-qualification/get/parameters/1'
      responses:
        '200':
          description: Dados sobre identificação pessoa natural
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - brand
                    properties:
                      brand:
                        type: object
                        description: Objeto que define a Organização controladora do grupo de instituições financeiras
                        required:
                          - name
                          - companies
                        properties:
                          name:
                            type: string
                            pattern: \w*\W*
                            maxLength: 80
                            description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes'
                            example: Organização A
                          companies:
                            type: array
                            items:
                              type: object
                              required:
                                - name
                                - cnpjNumber
                                - personalLoans
                              properties:
                                name:
                                  description: 'Nome da Instituição, pertencente à Marca, responsável pelo Cadastro.'
                                  type: string
                                  pattern: \w*\W*
                                  maxLength: 80
                                  example: Empresa da Organização A
                                cnpjNumber:
                                  description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara'
                                  type: string
                                  pattern: '^(\d{14})$|^NA$'
                                  maxLength: 14
                                  example: '50685362000135'
                                personalCustomers:
                                  type: object
                                  description: Objeto que agrupa as informações Cadastrais do Cliente Pessoa natural
                                  required:
                                    - identification
                                  properties:
                                    identification:
                                      type: object
                                      description: Objeto agrupador das informações relativas a Identificação ou seja a ação e o efeito de identificar de forma única a pessoa natural através de seus dados cadastrais.
                                      required:
                                        - requestDateTime
                                        - updateDateTime
                                        - cpfNumber
                                        - otherDocuments
                                        - nationality
                                        - civilName
                                        - filiation
                                        - birthDate
                                        - maritalStatus
                                        - sex
                                        - contacts
                                      properties:
                                        requestDateTime:
                                          type: string
                                          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                                          x-cds-type: DateTimeString
                                          maxLength: 20
                                          example: '2020-07-21T08:30:00Z'
                                        updateDateTime:
                                          type: string
                                          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                          description: 'Data e hora da atualização do bloco, conforme especificação RFC-3339'
                                          x-cds-type: DateTimeString
                                          maxLength: 20
                                          example: '2020-07-21T08:30:00Z'
                                        cpfNumber:
                                          type: string
                                          pattern: '^\d{11}$|^NA$'
                                          description: 'Número completo do CPF. O CPF é o Cadastro de Pessoa natural. Ele é um documento feito pela Receita Federal e serve para identificar os contribuintes. O CPF é uma numeração com 11 dígitos, que só mudam por decisão judicial. O documento é emitido pela receita federal'
                                          maxLength: 11
                                          example: '25872252137'
                                        passportNumber:
                                          type: string
                                          maxLength: 20
                                          pattern: \w*\W*
                                          description: Número do Passaporte. Documento concedido aos viajantes por uma autoridade administrativa nacional a fim de certificar sua identidade perante autoridades estrangeiras. De preenchimento obrigatório. Aplicável somente à Pessoa natural residente no exterior desobrigada de inscrição no CPF.
                                          example: '75253468744594820620'
                                        passportCountry:
                                          type: string
                                          description: Pais de emissão do passaporte. Código do pais de acordo com o código “alpha3” do ISO-3166.
                                          maxLength: 3
                                          example: CAN
                                        passportExpirationDate:
                                          type: string
                                          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                          maxLength: 10
                                          description: 'Data vigência do Passaporte, conforme especificação RFC-3339.'
                                          x-cds-type: DateString
                                          example: '2014-03-19'
                                        otherDocuments:
                                          type: array
                                          items:
                                            type: object
                                            required:
                                              - number
                                            properties:
                                              type:
                                                type: string
                                                enum:
                                                  - CNH
                                                  - RG
                                                  - NIF
                                                  - RNE
                                                  - OUTROS
                                                description: |
                                                  Relação dos Códigos dos demais documentos pessoa natural.
                                              typeAdditionalInfo:
                                                type: string
                                                maxLength: 70
                                                pattern: \w*\W*
                                                description: Campo livre de preenchimento obrigatório se selecionada a opção OUTROS tipos de documentos
                                              number:
                                                type: string
                                                maxLength: 11
                                                pattern: \w*\W*
                                                description: Identificação/Número do documento informado
                                              checkDigit:
                                                type: string
                                                maxLength: 2
                                                pattern: \w*\W*
                                                description: Dígito verificador do documento informado. De preenchimento obrigatório se o documento informado tiver dígito verificador
                                              expirationDate:
                                                type: string
                                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                                x-cds-type: DateString
                                                maxLength: 10
                                                description: 'Data de validade do documento informado, conforme especificação RFC-3339.'
                                                example: '2014-03-19'
                                          minItems: 1
                                          description: Relação dos demais documentos
                                        nationality:
                                          type: object
                                          description: Objeto que agrupa informações relativas à nacionalidade da Pessoa Natural
                                          required:
                                            - hasBrazilianNationality
                                          properties:
                                            hasBrazilianNationality:
                                              type: boolean
                                              description: Informa se o Cliente tem nacionalidade brasileira.
                                              example: true
                                            otherNationality:
                                              type: object
                                              properties:
                                                additionalInfo:
                                                  type: string
                                                  description: Campo de preenchimento obrigatório caso o cliente não possua nacionalidade brasileira. Preencher utilizando o código de pais de acordo com o código “alpha3” do ISO-3166.
                                                  maxLength: 3
                                                  example: CAN
                                                complementaryDocuments:
                                                  type: array
                                                  description: Lista que traz relação de documentos complementares de pessoas com nacionalidade diferente de brasileira
                                                  items:
                                                    type: object
                                                    properties:
                                                      type:
                                                        type: string
                                                        maxLength: 10
                                                        pattern: \w*\W*
                                                        description: 'Tipo de documento. Campo livre, de preenchimento obrigatório quando a nacionalidade for diferente de brasileira. Informar tipo e número do documento, além da, vigência e demais informações complementares para se identificar o documento de pessoa estrangeira'
                                                      number:
                                                        type: string
                                                        maxLength: 40
                                                        pattern: \w*\W*
                                                        description: 'Número de identificação do documento. Campo livre, de preenchimento obrigatório quando a nacionalidade for diferente de brasileira. Informar o número do documento e demais informações complementares para se identificar o documento de pessoa estrangeira'
                                                      expirationDate:
                                                        type: string
                                                        pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                                        x-cds-type: DateString
                                                        maxLength: 10
                                                        description: 'Data de validade do documento informado, conforme especificação RFC-3339.'
                                                        example: '2014-03-19'
                                        civilName:
                                          type: string
                                          description: 'Nome civil completo da pessoa natural (Direito fundamental da pessoa, o nome civil é aquele atribuído à pessoa natural desde o registro de seu nascimento, com o qual será identificada por toda a sua vida, bem como após a sua morte)'
                                          maxLength: 70
                                          pattern: \w*\W*
                                          example: Elza Milena Stefany Teixeira
                                        filiation:
                                          type: array
                                          items:
                                            type: object
                                            required:
                                              - type
                                              - civilName
                                            properties:
                                              type:
                                                type: string
                                                description: |
                                                  Tipo de filiação.
                                                enum:
                                                  - PAI
                                                  - MAE
                                                  - OUTRA
                                                example: MAE
                                              additionalInfo:
                                                type: string
                                                description: 'Campo livre para complementar a informação relativa a filiação, quando selecionada a natureza da filiação igual `OUTRA`'
                                                pattern: \w*\W*
                                                maxLength: 70
                                              civilName:
                                                type: string
                                                description: 'Nome civil completo da pessoa relativa à filiação. (Direito fundamental da pessoa, o nome civil é aquele atribuído à pessoa natural desde o registro de seu nascimento, com o qual será identificada por toda a sua vida, bem como após a sua morte)'
                                                maxLength: 70
                                                pattern: \w*\W*
                                              socialName:
                                                type: string
                                                description: 'Nome social da pessoa natural, se houver. (aquele pelo qual travestis e transexuais se reconhecem, bem como são identificados por sua comunidade e em seu meio social, conforme Decreto Nº 51.180, de 14 de janeiro de 2010)'
                                                maxLength: 70
                                                pattern: \w*\W*
                                          minItems: 1
                                          description: Lista que traz as informações relativas à Filiação da pessoa natural
                                        birthDate:
                                          type: string
                                          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                          x-cds-type: DateString
                                          maxLength: 10
                                          description: 'Data de nascimento, conforme especificação RFC-3339'
                                          example: '2014-03-19'
                                        maritalStatusCode:
                                          type: string
                                          description: |
                                            Estado civil do cliente. 
                                          enum:
                                            - SOLTEIRO
                                            - CASADO
                                            - VIUVO
                                            - SEPARADO_JUDICIALMENTE
                                            - DIVORCIADO
                                            - UNIAO_ESTAVEL
                                            - OUTROS
                                          example: SOLTEIRO
                                        maritalStatusAdditionalInfo:
                                          type: string
                                          description: 'Campo livre para complementar a informação relativa ao estado civil, quando selecionada a opção `OUTROS`'
                                          pattern: \w*\W*
                                          maxLength: 50
                                        gender:
                                          type: string
                                          description: |
                                            Informar sexo
                                          enum:
                                            - FEMININO
                                            - MASCULINO
                                            - OUTRO
                                          example: FEMININO
                                        contacts:
                                          type: object
                                          description: Objeto agrupador formas de contactar o cliente
                                          required:
                                            - postalAddresses
                                            - phones
                                            - emails
                                          properties:
                                            postalAddresses:
                                              type: array
                                              items:
                                                type: object
                                                required:
                                                  - isMain
                                                  - address
                                                  - townName
                                                  - countrySubDivision
                                                  - postCode
                                                  - country
                                                  - countryCode
                                                properties:
                                                  address:
                                                    type: string
                                                    description: |
                                                      Deverá trazer toda a informação referente ao endereço da dependência informada: Tipo de logradouro + Nome do logradouro + Número do Logradouro (se não existir usar ' s/n') + complemento (se houver), como, p.ex.: 'R Diamatina, 59, bloco 35, fundos' 'Praça da Boa Vontade s/n'
                                                    maxLength: 150
                                                    pattern: \w*\W*
                                                    example: 'Av Naburo Ykesaki, 1270'
                                                  additionalInfo:
                                                    type: string
                                                    description: Alguns logradouros ainda necessitam ser especificados por meio de complemento
                                                    maxLength: 30
                                                    pattern: \w*\W*
                                                    example: Fundos
                                                  districtName:
                                                    type: string
                                                    description: |
                                                      Bairro é uma comunidade ou região localizada em uma cidade ou município de acordo com as suas subdivisões geográficas. p.ex: 'Paraíso'
                                                    maxLength: 50
                                                    pattern: \w*\W*
                                                    example: Centro
                                                  townName:
                                                    type: string
                                                    description: |
                                                      Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado. p.ex. 'São Paulo'
                                                    maxLength: 50
                                                    pattern: \w*\W*
                                                    example: Marília
                                                  ibgeCode:
                                                    type: string
                                                    description: Código IBGE do município
                                                    pattern: '^(\d{7})$'
                                                    example: '3550308'
                                                  countrySubDivision:
                                                    type: string
                                                    description: 'Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. ''AC''. São consideradas apenas as siglas para os estados brasileiros'
                                                    enum:
                                                      - AC
                                                      - AL
                                                      - AP
                                                      - AM
                                                      - BA
                                                      - CE
                                                      - DF
                                                      - ES
                                                      - GO
                                                      - MA
                                                      - MT
                                                      - MS
                                                      - MG
                                                      - PA
                                                      - PB
                                                      - PR
                                                      - PE
                                                      - PI
                                                      - RJ
                                                      - RN
                                                      - RS
                                                      - RO
                                                      - RR
                                                      - SC
                                                      - SP
                                                      - SE
                                                      - TO
                                                    example: SP
                                                  postCode:
                                                    type: string
                                                    description: Código de Endereçamento Postal
                                                    pattern: '(\d{8}|^NA$)'
                                                    maxLength: 8
                                                    example: '17500001'
                                                  country:
                                                    type: string
                                                    description: Nome do país
                                                    maxLength: 80
                                                    pattern: \w*\W*
                                                    example: Brasil
                                                  countryCode:
                                                    type: string
                                                    description: Código do país
                                                    example: BRA
                                                  geographicCoordinates:
                                                    type: object
                                                    description: |
                                                      Objeto agrupador das informações que compõem as Coordenadas geográficas: latitude e longitude
                                                    properties:
                                                      latitude:
                                                        description: Informação da latitude referente a geolocalização informada.
                                                        type: string
                                                        pattern: '^-?\d{1,2}\.\d{1,9}$'
                                                        maxLength: 13
                                                        example: '-90.8365180'
                                                      longitude:
                                                        description: Informação da longitude referente a geolocalização informada.
                                                        type: string
                                                        pattern: '^-?\d{1,3}\.\d{1,8}$'
                                                        maxLength: 13
                                                        example: '-180.836519'
                                                  isMain:
                                                    type: boolean
                                                    description: Indica se o endereço informado é o principal
                                              minItems: 1
                                              description: Lista de endereços
                                            phones:
                                              type: array
                                              items:
                                                type: object
                                                required:
                                                  - isMain
                                                  - type
                                                  - countryCallingCode
                                                  - areaCode
                                                  - number
                                                properties:
                                                  isMain:
                                                    type: boolean
                                                    description: Indica se o telefone informado é o principal
                                                    example: true
                                                  type:
                                                    type: string
                                                    enum:
                                                      - FIXO
                                                      - MOVEL
                                                      - OUTRO
                                                    example: FIXO
                                                    description: |
                                                      Identificação do Tipo de telefone do cliente.
                                                  additionalInfo:
                                                    type: string
                                                    description: Informação complementar relativa ao tipo de telefone selecionado. De preenchimento obrigatório quando selecionado o tipo `OUTRO`
                                                    pattern: \w*\W*
                                                    maxLength: 70
                                                  countryCallingCode:
                                                    type: string
                                                    maxLength: 2
                                                    pattern: '^\d{1,4}$|^NA$'
                                                    example: '55'
                                                    description: Número de DDI (Discagem Direta Internacional) para telefone de acesso ao Cliente - se houver
                                                  areaCode:
                                                    type: string
                                                    example: '19'
                                                    description: Número de DDD (Discagem Direta à Distância) do telefone do cliente - se houver
                                                    enum:
                                                      - '11'
                                                      - '12'
                                                      - '13'
                                                      - '14'
                                                      - '15'
                                                      - '16'
                                                      - '17'
                                                      - '18'
                                                      - '19'
                                                      - '21'
                                                      - '22'
                                                      - '24'
                                                      - '27'
                                                      - '28'
                                                      - '31'
                                                      - '32'
                                                      - '33'
                                                      - '34'
                                                      - '35'
                                                      - '37'
                                                      - '38'
                                                      - '41'
                                                      - '42'
                                                      - '43'
                                                      - '44'
                                                      - '45'
                                                      - '46'
                                                      - '47'
                                                      - '48'
                                                      - '49'
                                                      - '51'
                                                      - '53'
                                                      - '54'
                                                      - '55'
                                                      - '61'
                                                      - '62'
                                                      - '63'
                                                      - '64'
                                                      - '65'
                                                      - '66'
                                                      - '67'
                                                      - '68'
                                                      - '69'
                                                      - '71'
                                                      - '73'
                                                      - '74'
                                                      - '75'
                                                      - '77'
                                                      - '79'
                                                      - '81'
                                                      - '82'
                                                      - '83'
                                                      - '84'
                                                      - '85'
                                                      - '86'
                                                      - '87'
                                                      - '88'
                                                      - '89'
                                                      - '91'
                                                      - '92'
                                                      - '93'
                                                      - '94'
                                                      - '95'
                                                      - '96'
                                                      - '97'
                                                      - '98'
                                                      - '99'
                                                  number:
                                                    type: string
                                                    maxLength: 11
                                                    pattern: '^([0-9]{8,11})$'
                                                    example: '29875132'
                                                    description: Número de telefone do cliente
                                                  phoneExtension:
                                                    type: string
                                                    maxLength: 5
                                                    pattern: '^\d{5}$'
                                                    description: Número do ramal. De preenchimento obrigatório se fizer parte da identificação do número do telefone informado
                                              minItems: 1
                                              description: Lista com telefones de contato
                                            emails:
                                              type: array
                                              items:
                                                type: object
                                                required:
                                                  - isMain
                                                  - email
                                                properties:
                                                  isMain:
                                                    type: boolean
                                                    description: Indica se o email informado é o principal
                                                    example: true
                                                  email:
                                                    type: string
                                                    description: Endereço de email
                                                    maxLength: 320
                                                    pattern: \w*\W*
                                                    example: elzamilenastefanyteixeira-81@br.inter.net
                                              minItems: 1
                                              description: Lista e-mails de contato
                            minItems: 1
                            description: Companies traz uma lista de todas as instituições da Marca
                  links:
                    $ref: '#/paths/~1personal-qualification/get/responses/200/content/application~1json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1personal-qualification/get/responses/200/content/application~1json/schema/properties/meta'
  /business-identification:
    get:
      tags:
        - Identification
      summary: Obtém dados relativos à identificação pessoa jurídica
      description: Obtém dados relativos à identificação pessoa jurídica
      operationId: getBusinessIdentification
      parameters:
        - $ref: '#/paths/~1personal-qualification/get/parameters/0'
        - $ref: '#/paths/~1personal-qualification/get/parameters/1'
      responses:
        '200':
          description: Dados sobre identificação pessoa jurídica
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - brand
                    properties:
                      brand:
                        type: object
                        description: Objeto que define a Organização controladora do grupo de instituições financeiras
                        required:
                          - name
                          - companies
                        properties:
                          name:
                            type: string
                            pattern: \w*\W*
                            maxLength: 80
                            description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes'
                            example: Organização A
                          companies:
                            type: array
                            items:
                              type: object
                              required:
                                - name
                                - cnpjNumber
                                - businessCustomers
                              properties:
                                name:
                                  description: 'Nome da Instituição, pertencente à Marca, responsável pelo Cadastro.'
                                  type: string
                                  pattern: \w*\W*
                                  maxLength: 80
                                  example: Empresa da Organização A
                                cnpjNumber:
                                  description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara'
                                  type: string
                                  pattern: '^(\d{14})$|^NA$'
                                  maxLength: 14
                                  example: '50685362000135'
                                urlComplementaryList:
                                  description: |
                                    URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. Endereço eletrônico de acesso ao canal. Será obrigatoriamente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada.
                                    Restrição: Será obrigatorimente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada
                                  type: string
                                  pattern: \w*\W*
                                  maxLength: 1024
                                  example: 'https://empresadaorganizacaoa.com/complementarylist'
                                businessCustomers:
                                  type: object
                                  description: Objeto que agrupa as informações Cadastrais do Cliente Pessoa jurídica
                                  required:
                                    - identification
                                  properties:
                                    identification:
                                      type: object
                                      description: Objeto agrupador das informações relativas a Identificação ou seja a ação e o efeito de identificar de forma única a pessoa jurídica através de seus dados cadastrais
                                      required:
                                        - requestDateTime
                                        - updateDateTime
                                        - cnpjNumber
                                        - otherDocuments
                                        - companyName
                                        - partiesParticipation
                                        - contacts
                                      properties:
                                        requestDateTime:
                                          type: string
                                          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                                          maxLength: 20
                                          example: '2020-07-21T08:30:00Z'
                                        updateDateTime:
                                          type: string
                                          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                          description: 'Data e hora da atualização do bloco, conforme especificação RFC-3339'
                                          maxLength: 20
                                          example: '2020-07-21T08:30:00Z'
                                        cnpjNumber:
                                          description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara'
                                          type: string
                                          pattern: '^(\d{14})$|^NA$'
                                          maxLength: 14
                                          example: '50685362000135'
                                        otherDocuments:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              type:
                                                type: string
                                                maxLength: 20
                                                pattern: \w*\W*
                                                description: 'Tipo do outro documento informado. De preenchimento obrigatório, para a Pessoa jurídica com domicílio ou sede no exterior, desobrigada de inscrição no CNPJ'
                                              number:
                                                type: string
                                                maxLength: 11
                                                pattern: \w*\W*
                                                description: 'Número do outro documento. De preenchimento obrigatório, para a Pessoa jurídica com domicílio ou sede no exterior, desobrigada de inscrição no CNPJ'
                                              country:
                                                type: string
                                                description: Campo de preenchimento obrigatório caso o cliente não possua nacionalidade brasileira. Preencher utilizando o código de pais de acordo com o código “alpha3” do ISO-3166.
                                                maxLength: 3
                                                example: CAN
                                              expirationDate:
                                                type: string
                                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                                x-cds-type: DateString
                                                maxLength: 10
                                                description: 'Data de validade do documento informado, conforme especificação RFC-3339.'
                                                example: '2014-03-19'
                                          minItems: 1
                                          description: Relação dos demais documentos
                                        companyName:
                                          type: string
                                          maxLength: 70
                                          pattern: \w*\W*
                                          description: Razão social da empresa consultada é o termo registrado sob o qual uma pessoa jurídica (PJ) se individualiza e exerce suas atividades. Também pode ser chamada por denominação social ou firma empresarial
                                        tradeName:
                                          type: string
                                          maxLength: 70
                                          pattern: \w*\W*
                                          description: 'Nome fantasia da pessoa jurídica, se houver. (É o nome popular da empresa, utilizado para divulgação da empresa e melhor fixação com o público). De preenchimento obrigatório se houver'
                                        incorporationDate:
                                          type: string
                                          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                          x-cds-type: DateString
                                          maxLength: 10
                                          description: 'Data de constituição da empresa, conforme especificação RFC-3339.'
                                          example: '2014-03-19'
                                        partiesParticipation:
                                          type: array
                                          items:
                                            type: object
                                            description: Objeto relativo às informações de composição da participação societária
                                            required:
                                              - type
                                              - civilName
                                              - shareholding
                                            properties:
                                              type:
                                                type: string
                                                description: |
                                                  Indica o perfil de atuação na empresa. Vide Enum
                                                  O administrador é o responsável por desempenhar todas as funções administrativas da empresa. É ele quem conduz o dia a dia do negócio, assinando documentos, respondendo legalmente pela sociedade, realizando empréstimos e outras ações gerenciais. Apesar de estar na linha de frente da empresa, ele é denominado sócio por também possuir sua parcela de participação no Capital Social.
                                                  Sócio não tem qualquer envolvimento nas atividades administrativas da sociedade.
                                                enum:
                                                  - SOCIO
                                                  - ADMINISTRADOR
                                              civilName:
                                                type: string
                                                description: 'Nome civil completo da pessoa natural (Direito fundamental da pessoa, o nome civil é aquele atribuído à pessoa natural desde o registro de seu nascimento, com o qual será identificada por toda a sua vida, bem como após a sua morte)'
                                                maxLength: 70
                                                pattern: \w*\W*
                                                example: Elza Milena Stefany Teixeira
                                              socialName:
                                                type: string
                                                description: 'Nome social da pessoa natural, se houver. (aquele pelo qual travestis e transexuais se reconhecem, bem como são identificados por sua comunidade e em seu meio social, conforme Decreto Nº 51.180, de 14 de janeiro de 2010)'
                                                maxLength: 70
                                                pattern: \w*\W*
                                                example: Elza
                                              startDate:
                                                type: string
                                                maxLength: 10
                                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$|^NA$'
                                                x-cds-type: DateString
                                                description: 'Data de início da participação, conforme especificação RFC-3339.'
                                              shareholding:
                                                type: string
                                                maxLength: 4
                                                pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
                                                description: |
                                                  Percentual de participação societária. Só deve ser informada se igual ou superior a 25%. Ex: 0.25 (O valor ao lado representa 25%. O valor '1 'representa 100%)
                                                  A apuração pode acontecer com até 2 casas decimais.O preenchimento deve respeitar as 2 casas decimais, mesmo que venham preenchidas com zeros
                                              document:
                                                type: object
                                                description: Objeto que agrupa informações relativas ao documento da parte envolvida
                                                required:
                                                  - type
                                                  - number
                                                properties:
                                                  type:
                                                    type: string
                                                    enum:
                                                      - CPF
                                                      - PASSAPORTE
                                                      - OUTRO_DOCUMENTO_VIAGEM
                                                      - CNPJ
                                                    description: |
                                                      Tipo do documento informado. 
                                                  number:
                                                    type: string
                                                    maxLength: 20
                                                    pattern: \w*\W*
                                                    description: Número do documento informado. Campo Texto Livre para preencher número e dígito do documento se houver
                                                  additionalInfo:
                                                    type: string
                                                    maxLength: 100
                                                    pattern: \w*\W*
                                                    description: 'Campo livre, de preenchimento obrigatório quando o documento informado tiver informações complementares relevantes para a sua identificação'
                                                  country:
                                                    type: string
                                                    description: País de emissão do documento. Código do pais de acordo com o código “alpha3” do ISO-3166.
                                                    maxLength: 3
                                                    example: CAN
                                                  expirationDate:
                                                    type: string
                                                    pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                                    x-cds-type: DateString
                                                    maxLength: 10
                                                    description: 'Data de validade do documento informado, conforme especificação RFC-3339.'
                                                    example: '2014-03-19'
                                          minItems: 1
                                          description: |
                                            Lista relativa às informações das partes envolvidas, como: sócio e /ou administrador
                                        contacts:
                                          $ref: '#/paths/~1personal-identification/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalCustomers/properties/identification/properties/contacts'
                            minItems: 1
                            description: Companies traz uma lista de todas as instituições da Marca
                  links:
                    $ref: '#/paths/~1personal-qualification/get/responses/200/content/application~1json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1personal-qualification/get/responses/200/content/application~1json/schema/properties/meta'
  /personal-qualification:
    get:
      tags:
        - Qualification
      summary: Obtém dados relativos ao processo de qualificação pessoa natural
      description: Obtém dados relativos ao processo de qualificação pessoa natural
      operationId: getPersonalQualification
      parameters:
        - name: page
          in: query
          description: Número da página que está sendo requisitada (o valor da primeira página é 1).
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: page-size
          in: query
          description: Quantidade total de registros por páginas.
          schema:
            type: integer
            default: 25
            minimum: 1
      responses:
        '200':
          description: Dados sobre qualificação pessoa natural
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - brand
                    properties:
                      brand:
                        type: object
                        description: Objeto que define a Organização controladora do grupo de instituições financeiras
                        required:
                          - name
                          - companies
                        properties:
                          name:
                            type: string
                            pattern: \w*\W*
                            maxLength: 80
                            description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes'
                            example: Organização A
                          companies:
                            type: array
                            items:
                              type: object
                              required:
                                - name
                                - cnpjNumber
                                - personalLoans
                              properties:
                                name:
                                  description: 'Nome da Instituição, pertencente à Marca, responsável pelo Cadastro.'
                                  type: string
                                  pattern: \w*\W*
                                  maxLength: 80
                                  example: Empresa da Organização A
                                cnpjNumber:
                                  description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara'
                                  type: string
                                  pattern: '^(\d{14})$|^NA$'
                                  maxLength: 14
                                  example: '50685362000135'
                                urlComplementaryList:
                                  description: |
                                    URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. Endereço eletrônico de acesso ao canal. Será obrigatoriamente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada.
                                    Restrição: Será obrigatorimente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada
                                  type: string
                                  pattern: \w*\W*
                                  maxLength: 1024
                                  example: 'https://empresadaorganizacaoa.com/complementarylist'
                                personalCustomers:
                                  type: object
                                  description: Objeto que agrupa as informações Cadastrais do Cliente Pessoa natural
                                  required:
                                    - qualification
                                  properties:
                                    qualification:
                                      type: object
                                      description: 'Objeto que reúne as informações relativas ao processo de qualificação. Considera-se qualificação as informações que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira'
                                      required:
                                        - requestDateTime
                                        - updateDateTime
                                        - informedIncome
                                        - informedPatrimony
                                        - occupation
                                      properties:
                                        requestDateTime:
                                          type: string
                                          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                                          maxLength: 20
                                          example: '2020-07-21T08:30:00Z'
                                        updateDateTime:
                                          type: string
                                          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                          description: 'Data e hora da atualização do bloco, conforme especificação RFC-3339'
                                          maxLength: 20
                                          example: '2020-07-21T08:30:00Z'
                                        informedIncome:
                                          type: object
                                          description: Objeto que agrupa as informações referentes à renda total informada
                                          required:
                                            - frequency
                                            - date
                                          properties:
                                            frequency:
                                              type: string
                                              description: |
                                                Traz a frequência ou período da renda informada.
                                              enum:
                                                - DIARIA
                                                - SEMANAL
                                                - QUINZENAL
                                                - MENSAL
                                                - BIMESTRAL
                                                - TRIMESTRAL
                                                - SEMESTRAL
                                                - ANUAL
                                            amount:
                                              type: string
                                              description: |
                                                Valor total da renda informada. Expresso em valor monetário com 2 casas decimais.
                                                "Renda primária indica os montantes a pagar ou a receber em troca do uso temporário de recursos financeiros, trabalho ou ativos não financeiros não produzidos, a saber, remuneração de trabalhadores, renda de investimentos e demais rendas primárias. Fazem parte da primeira a remuneração do trabalho assalariado (salários e ordenados); da segunda, renda de investimento direto, renda de investimento em carteira, renda de outros investimentos e renda de ativos de reserva; e da terceira, tributos sobre a produção e importação, subsídios e aluguéis". Fonte: Banco Central do Brasil – Departamento Econômico
                                              maxLength: 12
                                              pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
                                            currency:
                                              type: string
                                              pattern: '^(\w{3}){1}$'
                                              maxLength: 3
                                              x-cds-type: CurrencyString
                                              description: 'Moeda referente ao valor da renda, segundo modelo ISO-4217.'
                                              example: BRL
                                            date:
                                              type: string
                                              pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                              maxLength: 10
                                              x-cds-type: DateString
                                              description: 'Data da renda, conforme especificação RFC-3339.'
                                              example: '2014-03-19'
                                        informedPatrimony:
                                          type: object
                                          description: Objeto que agrupa as informações referentes ao patrimônio informado
                                          required:
                                            - year
                                          allOf:
                                            - type: object
                                              description: Objeto que agrupa as informações referentes ao patrimônio informado
                                              properties:
                                                amount:
                                                  type: string
                                                  description: |
                                                    Valor do patrimônio informado. Expresso em valor monetário com 2 casas decimais.
                                                    "Patrimônio é o conjunto de bens vinculado a uma pessoa ou a uma entidade".
                                                  maxLength: 12
                                                  pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
                                                currency:
                                                  type: string
                                                  pattern: '^(\w{3}){1}$'
                                                  maxLength: 3
                                                  x-cds-type: CurrencyString
                                                  description: 'Moeda referente ao valor do patrimônio, segundo modelo ISO-4217.'
                                                  example: BRL
                                          properties:
                                            year:
                                              type: string
                                              pattern: '^\d{4}$'
                                              maxLength: 4
                                              description: 'Ano de referência do Patrimônio, conforme especificação RFC-3339.'
                                              example: '2014'
                                        occupation:
                                          type: object
                                          required:
                                            - mainCodeType
                                            - codeDescription
                                          properties:
                                            mainCodeType:
                                              type: string
                                              description: |
                                                Traz a relação dos códigos relativos à ocupação.
                                              enum:
                                                - RECEITA_FEDERAL
                                                - CBO
                                                - OUTRO
                                            codeDescription:
                                              type: string
                                              pattern: \w*\W*
                                              maxLength: 100
                                              description: Campo livre de preenchimento obrigatório. Traz o código da ocupação ou o descritivo da ocupação.
                            minItems: 1
                            description: Companies traz uma lista de todas as instituições da Marca
                  links:
                    type: object
                    description: Referências para outros recusos da API requisitada.
                    required:
                      - self
                    properties:
                      self:
                        type: string
                        format: URIString
                        description: URI completo que gerou a resposta atual.
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                      first:
                        type: string
                        format: URIString
                        description: URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                      prev:
                        type: string
                        format: URIString
                        description: "URI da página anterior dessa lista de resultados. Restrição - \tObrigatório quando não for a primeira página da resposta"
                      next:
                        type: string
                        format: URIString
                        description: URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
                      last:
                        type: string
                        format: URIString
                        description: URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                  meta:
                    type: object
                    description: Meta informações referente a API requisitada.
                    properties:
                      totalRecords:
                        type: integer
                        description: Número total de registros no resultado
                        example: 1
                      totalPages:
                        type: integer
                        description: Número total de páginas no resultado
                        example: 1
                    required:
                      - totalRecords
                      - totalPages
  /business-qualification:
    get:
      tags:
        - Qualification
      summary: Obtém dados relativos ao processo de qualificação pessoa jurídica
      description: Obtém dados relativos ao processo de qualificação pessoa jurídica
      operationId: getBusinessQualification
      parameters:
        - $ref: '#/paths/~1personal-qualification/get/parameters/0'
        - $ref: '#/paths/~1personal-qualification/get/parameters/1'
      responses:
        '200':
          description: Dados sobre qualificação pessoa jurídica
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - brand
                    properties:
                      brand:
                        type: object
                        description: Objeto que define a Organização controladora do grupo de instituições financeiras
                        required:
                          - name
                          - companies
                        properties:
                          name:
                            type: string
                            pattern: \w*\W*
                            maxLength: 80
                            description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes'
                            example: Organização A
                          companies:
                            type: array
                            items:
                              type: object
                              required:
                                - name
                                - cnpjNumber
                                - personalLoans
                              properties:
                                name:
                                  description: 'Nome da Instituição, pertencente à Marca, responsável pelo Cadastro.'
                                  type: string
                                  pattern: \w*\W*
                                  maxLength: 80
                                  example: Empresa da Organização A
                                cnpjNumber:
                                  description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara'
                                  type: string
                                  pattern: '^(\d{14})$|^NA$'
                                  maxLength: 14
                                  example: '50685362000135'
                                urlComplementaryList:
                                  description: |
                                    URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. Endereço eletrônico de acesso ao canal. Será obrigatoriamente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada.
                                    Restrição: Será obrigatorimente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada
                                  type: string
                                  pattern: \w*\W*
                                  maxLength: 1024
                                  example: 'https://empresadaorganizacaoa.com/complementarylist'
                                personalCustomers:
                                  type: object
                                  description: Objeto que agrupa as informações Cadastrais do Cliente Pessoa jurídica
                                  required:
                                    - qualification
                                  properties:
                                    qualification:
                                      type: object
                                      description: 'Objeto que reúne as informações relativas ao processo de qualificação. Considera-se qualificação as informações que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira'
                                      required:
                                        - requestDateTime
                                        - updateDateTime
                                        - economicActivity
                                        - informedRevenue
                                        - informedPatrimony
                                        - occupation
                                      properties:
                                        requestDateTime:
                                          type: string
                                          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                                          maxLength: 20
                                          example: '2020-07-21T08:30:00Z'
                                        updateDateTime:
                                          type: string
                                          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                          description: 'Data e hora da atualização do bloco, conforme especificação RFC-3339'
                                          maxLength: 20
                                          example: '2020-07-21T08:30:00Z'
                                        economicActivity:
                                          type: object
                                          required:
                                            - mainCode
                                          properties:
                                            mainCode:
                                              type: string
                                              pattern: '^\d{7}$|^NA$'
                                              maxLength: 7
                                              description: |
                                                Traz o código do ramo da atividade principal da empresa consultada, segundo padrão CNAE (Classificação Nacional de Atividades Econômicas)
                                            otherCodes:
                                              type: string
                                              pattern: '^\d{7}$'
                                              maxLength: 7
                                              description: 'Lista dos demais códigos relativos às demais atividades econômicas da empresa, segundo padrão CNAE (Classificação Nacional de Atividades Econômicas). De preenchimento obrigatório, se houver.'
                                        informedRevenue:
                                          type: object
                                          description: Objeto que agrupa informações relativas ao faturamento da empresa informado
                                          required:
                                            - frequency
                                            - year
                                          properties:
                                            frequency:
                                              type: string
                                              description: |
                                                Traz a frequência ou período do faturamento informado. 
                                                "O faturamento é calculado a partir de todos os benefícios que a empresa conseguiu com sua atividade econômica em um determinado período. Esses benefícios são os rendimentos ou ganhos da organização através de suas vendas ou serviços prestados".
                                              enum:
                                                - DIARIO
                                                - SEMANAL
                                                - QUINZENAL
                                                - MENSAL
                                                - BIMESTRAL
                                                - TRIMESTRAL
                                                - SEMESTRAL
                                                - ANUAL
                                            amount:
                                              type: string
                                              description: |
                                                Valor do faturamento informado. Expresso em valor monetário com 2 casas decimais. 
                                                "O faturamento corresponde à soma das vendas de produtos e/ou serviços em determinado período. Ou seja, é todo o dinheiro que entra no caixa da empresa, a partir da venda de produtos, mercadorias e serviços". 
                                              maxLength: 12
                                              pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
                                            currency:
                                              type: string
                                              pattern: '^(\w{3}){1}$'
                                              maxLength: 3
                                              x-cds-type: CurrencyString
                                              description: 'Moeda referente ao valor da faturamento, segundo modelo ISO-4217.'
                                              example: BRL
                                            year:
                                              type: string
                                              pattern: '^\d{4}$'
                                              maxLength: 4
                                              description: 'Ano de referência do Faturamento, conforme especificação RFC-3339.'
                                              example: '2014'
                                        informedPatrimony:
                                          type: object
                                          description: Objeto que agrupa informações relativas ao patrimônio da empresa
                                          required:
                                            - date
                                          allOf:
                                            - $ref: '#/paths/~1personal-qualification/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalCustomers/properties/qualification/properties/informedPatrimony/allOf/0'
                                          properties:
                                            date:
                                              type: string
                                              pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                              maxLength: 10
                                              x-cds-type: DateString
                                              description: 'Data do Patrimônio, conforme especificação RFC-3339.'
                                              example: '2014-03-19'
                            minItems: 1
                            description: Companies traz uma lista de todas as instituições da Marca
                  links:
                    $ref: '#/paths/~1personal-qualification/get/responses/200/content/application~1json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1personal-qualification/get/responses/200/content/application~1json/schema/properties/meta'
