openapi: 3.0.0
info:
  title: APIs do Open Banking Brasil
  description: ''
  version: 1.1.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: 'http://api.banco.com.br/open-banking'
tags:
  - name: API - Dados Cadastrais
  - name: API - Cartão de Crédito
  - name: API - Contas
  - name: API - Operações de Crédito
paths:
  /customers/v1/business-customers/identification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos à identificação pessoa jurídica

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa jurídica através de seus dados cadastrais.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Identificação (Identification)](#glossarioIdentificacao), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Razão Social (Company Name)](#glossarioRazaoSocial),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Identification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_Identification.v1.png"/>

        <a href="images/der/customers/DER_Business_Customers_Identification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessCustomersIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersIdentification'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /customers/v1/business-customers/qualification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao processo de qualificação pessoa jurídica

        Esta especificação inclui todos os itens relevantes, que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.

        Tags: [CNAE (Cnae Code)](#glossarioCNAE), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Qualificação (Qualification)](#glossarioQualificacao),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Qualification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_Qualification.v1.png"/>

        <a href="images/der/customers/DER_Business_Customers_Qualification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessCustomersQualification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de qualificação da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersQualification'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /customers/v1/business-customers/financial-relation:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao relacionamento pessoa jurídica com a sua instituição.

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento), [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Financial_Relation_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_FinancialRelation.v1.png"/>

        <a href="images/der/customers/DER_Business_Customers_FinancialRelation.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessCustomersFinancialRelation
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de relacionamento financeiro da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersFinancialRelation'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /customers/v1/personal-customers/identification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos à identificação pessoa natural

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa natural através de seus dados cadastrais.

        Tags: [CBO (Cbo Code)](#glossarioCBO), [CNPJ (CNPJ Number)](#glossarioCNPJ), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Identificação (Identification)](#glossarioIdentificacao), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Marca (Brand)](#glossarioMarca), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial) e [Sexo (Gender)](#glossarioSexo).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Identification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers.png"/>

        <a href="images/der/customers/DER_Personal_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_Identification.v1.png"/>

        <a href="images/der/customers/DER_Personal_Customers_Identification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalCustomersIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersIdentification'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /customers/v1/personal-customers/qualification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao processo de qualificação pessoa natural

        Esta especificação inclui todos os itens relevantes, que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.

        Tags: [CBO (Cbo Code)](#glossarioCBO), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Qualificação (Qualification)](#glossarioQualificacao),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Qualification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers.png"/>

        <a href="images/der/customers/DER_Personal_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_Qualification.v1.png"/>

        <a href="images/der/customers/DER_Personal_Customers_Qualification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalCustomersQualification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de qualificação da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersQualification'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /customers/v1/personal-customers/financial-relation:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao relacionamento da pessoa natural com a sua instituição.

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento), [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Financial_Relation_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers.png"/>

        <a href="images/der/customers/DER_Personal_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_FinancialRelation.v1.png"/>

        <a href="images/der/customers/DER_Personal_Customers_FinancialRelation.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalCustomersFinancialRelation
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de relacionamento financeiro da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersFinancialRelation'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /credit-card/v1/accounts/identification:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Identificação de cartão de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados relativos ao conjunto de informações referentes à identificação da conta de pagamento pós-paga.

        Tags: [Bandeira (Credit Card Network)](#glossarioBandeira), [Cartão Múltiplo (Multiple CreditCard)](#glossarioCartaoMultiplo), [CNPJ (CNPJ Number)](#glossarioCNPJ) e [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Identification.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Identification.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Identification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/credit_cards_accounts_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_accounts_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getCreditCardAccountsIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados relativos ao conjunto de informações referentes à identificação da conta de pagamento pós-paga.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsIdentification'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /credit-card/v1/accounts/limits:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Limites de cartão de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados dos limites: de Crédito Total e por Modalidade de Crédito relativos à conta de pagamento pós-paga.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Empréstimo Cartão Consignado (Payroll Loan)](#glossarioEmprestimoCartaoConsignado) e [Limite Flexível (Flexible Limit)](#glossarioLimiteFlexivel).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Limits.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Limits.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Limits.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/credit_cards_accounts_limits.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_accounts_limits.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getCreditCardAccountsLimits
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados dos limites de Crédito Total e por Modalidade de Crédito relativos à conta de pagamento pós-paga.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsLimits'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /credit-card/v1/accounts/transactions:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Transações de cartão de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados das transações relativas à conta de pagamento pós-paga.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo) e [MCC (Merchant Category Code)](#glossarioMCC).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccounts_Transactions.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Transactions.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Transactions.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/credit_cards_accounts_transactions.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_accounts_transactions.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getCreditCardAccountsTransaction
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados das transações relativas à conta de pagamento pós-paga.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsTransactions'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /credit-card/v1/accounts/bill:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Fatura de Cartão de Crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes à fatura da conta de pagamento pós-paga.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo) e [Fatura (Bill)](#glossarioFatura).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Bill.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Bill.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Bill.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/credit_cards_accounts_bill.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_billing.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_credit_cards_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getCrediCardsBilling
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados referentes à fatura da conta de pagamento pós-paga.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsBilling'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /accounts/v1/accounts/identification:
    get:
      tags:
        - API - Contas
      summary: Identificação da Conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre a Identificação de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Conta individual (Sole Account)](#glossarioContaIndividual), [Conta Conjunta Não-solidária (Joint Account And)](#glossarioContaConjuntaNaoSolidaria), [Conta Conjunta Solidária (Joint Account Or)](#glossarioContaConjuntaSolidaria),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Agencia (Agency)](#glossarioAgencia), [Conta depósito à vista (Current Account)](#glossarioContaDepositoVista), [Conta Poupança (Savings Account)](#glossarioContaPoupanca),
              [Conta de Pagamento Pré-Paga (Prepayd Payment Account)](#glossarioContaPagamentoPrePaga).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Identification.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Identification.v1.png"/>

        <a href="images/der/accounts/DER_Accounts_Identification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_identification.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_identification.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getAccountsIdentification
      parameters:
        - $ref: '#/components/parameters/accountsCompeCode'
        - $ref: '#/components/parameters/accountsBranchCode'
        - $ref: '#/components/parameters/accountsNumber'
        - $ref: '#/components/parameters/accountsCheckDigit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountIdentification'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /accounts/v1/accounts/balances:
    get:
      tags:
        - API - Contas
      summary: Saldos da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os saldos de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [Agência (Branch)](#glossarioAgencia), [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Saldo (Account Balance)](#glossarioSaldo), [Saldo Bloqueado (Cash Blocked)](#glossarioSaldoBloqueado), [Saldo Disponível (Cash Amount)](#glossarioSaldoDisponivel), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Balances.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Balances.v1.png"/>

        <a href="images/der/accounts/DER_Accounts_Balances.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_balances.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_balances.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getAccountsBalances
      parameters:
        - $ref: '#/components/parameters/accountsCompeCode'
        - $ref: '#/components/parameters/accountsBranchCode'
        - $ref: '#/components/parameters/accountsNumber'
        - $ref: '#/components/parameters/accountsCheckDigit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountBalances'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /accounts/v1/accounts/transactions:
    get:
      tags:
        - API - Contas
      summary: Transações da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre as transações efetivadas e os pagamentos autorizados de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Crédito (Credit)](#glossarioCredito), [Débito (Debit)](#glossarioDebito), [Pagador (Payer)](#glossarioPagador), [Pagamento autorizado (Authorised Payment)](#glossarioPagamentoAutorizado), [Recebedor (Payee)](#glossarioRecebedor), [Transação Agendada (Scheduled Payment)](#glossarioTransacaoAgendada), [Transações Realizadas (Completed Transaction)](#glossarioTransacaoRealizada), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira) e [Agência (Branch)](#glossarioAgencia).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Transactions.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Transactions.v1.png"/>

        <a href="images/der/accounts/DER_Accounts_Transactions.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_transactions.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_transactions.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getAccountsTransactions
      parameters:
        - $ref: '#/components/parameters/accountsCompeCode'
        - $ref: '#/components/parameters/accountsBranchCode'
        - $ref: '#/components/parameters/accountsNumber'
        - $ref: '#/components/parameters/accountsCheckDigit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter a lista de transações da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountTransactions'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /accounts/v1/accounts/overdraft-limits:
    get:
      tags:
        - API - Contas
      summary: Limites da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os valores utilizado e disponível do limite do Cheque Especial e o valor em excesso (Adiantamento a depositante) de uma conta de depósito à vista, referente às informações transacionais de cliente.

        Tags: [Adiantamento a Depositante (Unarranged Account Overdraft)](#glossarioAdiantamentoDepositante), [Cheque Especial (Arranged Overdraft)](#glossarioChequeEspecial), [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Saldo (Account Balance)](#glossarioSaldo), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Agência (Branch)](#glossarioAgencia) e [Conta de depósito à vista (Account)](#glossarioContaDepositoVista).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_OverdraftLimits.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_OverdraftLimits.v1.png"/>

        <a href="images/der/accounts/DER_Accounts_OverdraftLimits.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_overdraft_limits.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_overdraft_limits.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getAccountsOverdraftLimits
      parameters:
        - $ref: '#/components/parameters/accountsCompeCode'
        - $ref: '#/components/parameters/accountsBranchCode'
        - $ref: '#/components/parameters/accountsNumber'
        - $ref: '#/components/parameters/accountsCheckDigit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de cheque especial e de adiantamento a depositante  da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountOverdraftLimits'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /bank-borrowing/v1/contract:
    get:
      tags:
        - API - Operações de Crédito
      summary: Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        A definir.
        Obtém dados referentes à identificação da operação de crédito.

        A definir.
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/bank_borrowing/TLD_BankBorrowing_Contract.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing_Contract.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing_Contract.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/bank_borrowing_contract.csv' target="_blank">Fazer download do dicionário de dados</a>

        A definir.
        <a href="dictionary/example/examples_bank_borrowing_contract.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_bank_borrowing_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getBankBorrowingContract
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter dados referentes à identificação da operação de crédito.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankBorrowingContract'
        '400':
          description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
        '401':
          description: Cabeçalho de autenticação ausente/inválido ou token inválido.
        '403':
          description: O token tem escopo incorreto ou uma política de segurança foi violada.
        '404':
          description: O recurso solicitado não existe ou não foi implementado.
        '405':
          description: O consumidor tentou acessar o recurso com um método não suportado.
        '406':
          description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8.
        '410':
          description: Indica que o recurso não está mais disponível.
        '422':
          description: 'A solicitação foi bem formada, mas não pôde ser processada devido à lógica de negócios específica da solicitação.'
        '429':
          description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido.'
        '500':
          description: Ocorreu um erro no gateway da API ou no microsserviço.
        '503':
          description: O serviço está indisponível no momento.
        '504':
          description: O servidor não pôde responder em tempo hábil.
  /bank-borrowing/v1/warranties:
    get:
      tags:
        - API - Operações de Crédito
      summary: Garantias do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        A definir.
        Obtém dados referentes às garantias que avalizam a operação de crédito contratada.

        A definir.
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/bank_borrowing/TLD_BankBorrowing_Warranties.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing_Warranties.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing_Warranties.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/bank_borrowing_warranties.csv' target="_blank">Fazer download do dicionário de dados</a>

        A definir.
        <a href="dictionary/example/examples_bank_borrowing_warranties.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_bank_borrowing_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getBankBorrowingWarranties
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter dados referentes às garantias que avalizam a operação de crédito contratada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankBorrowingWarranties'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /bank-borrowing/v1/payments:
    get:
      tags:
        - API - Operações de Crédito
      summary: Pagamentos do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        A definir.
        Obtém dados dos pagamentos referentes às operações de crédito contratadas.

        A definir.
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/bank_borrowing/TLD_BankBorrowing_Payments.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing_Payments.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing_Payments.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/bank_borrowing_payments.csv' target="_blank">Fazer download do dicionário de dados</a>

        A definir.
        <a href="dictionary/example/examples_bank_borrowing_payments.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_bank_borrowing_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getBankBorrowingPayments
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter dados dos pagamentos referentes às operações de crédito contratadas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankBorrowingPayments'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
  /bank-borrowing/v1/instalments:
    get:
      tags:
        - API - Operações de Crédito
      summary: Parcelas do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        A definir.
        Obtém dados referentes às parcelas / prestações da operação de crédito contratada.

        A definir.
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/bank_borrowing/TLD_BankBorrowing_Instalments.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing_Instalments.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing_Instalments.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/bank_borrowing_instalments.csv' target="_blank">Fazer download do dicionário de dados</a>

        A definir.
        <a href="dictionary/example/examples_bank_borrowing_instalments.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_bank_borrowing_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getBankBorrowingInstalments
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter dados referentes às garantias que avalizam a operação de crédito contratada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankBorrowingInstalments'
        '400':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/400'
        '401':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/401'
        '403':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/403'
        '404':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/404'
        '405':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/405'
        '406':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/406'
        '410':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/410'
        '422':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/422'
        '429':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/429'
        '500':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/500'
        '503':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/503'
        '504':
          $ref: '#/paths/~1bank-borrowing~1v1~1contract/get/responses/504'
components:
  schemas:
    AccountBalances:
      type: object
      description: |
        Conjunto de informações das Contas de: depósito à vista, poupança e de pagamento pré-paga
      required:
        - balances
      properties:
        balances:
          $ref: '#/components/schemas/Balances'
    AccountBalancesData:
      type: object
      required:
        - account
      properties:
        account:
          $ref: '#/components/schemas/AccountBalances'
    AccountsLimits:
      type: object
      description: Conjunto de informações referentes aos limites da conta de  pagamento pós-paga.
      required:
        - creditCardAccountId
        - requestDateTime
        - brandName
        - companyCnpj
        - statementCreditCardAccounts
      properties:
        creditCardAccountId:
          type: string
          description: 'Identificador para conta pagamento pós-paga é o creditCardAccountId, chave artificial que permite identificar a conta pagamento pós-paga especifica.'
          maxLength: 40
          example: XXZTR3459087
        requestDateTime:
          type: string
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
          maxLength: 20
          example: '2020-07-21T08:30:00Z'
        brandName:
          type: string
          pattern: \w*\W*
          description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.'
          maxLength: 80
          example: Organização A
        companyCnpj:
          type: string
          pattern: '\d{14}|^NA$'
          description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara.'
          maxLength: 14
          example: '21128159000166'
        currency:
          type: string
          description: 'Moeda referente ao valor da transação, segundo modelo ISO-4217.'
          maxLength: 3
          example: BRL
        statementCreditCardAccounts:
          type: array
          items:
            $ref: '#/components/schemas/CreditCardAccountsStatement'
    AccountOverdraftLimits:
      type: object
      description: |
        Conjunto de informações das Contas de: depósito à vista, poupança e de pagamento pré-paga
      required:
        - overdraftLimits
      properties:
        overdraftLimits:
          $ref: '#/components/schemas/OverdraftLimits'
    AccountOverdraftLimitsData:
      type: object
      required:
        - account
      properties:
        account:
          $ref: '#/components/schemas/AccountOverdraftLimits'
    AccountsIdentification:
      type: object
      description: |
        Conjunto de informações das Contas de: depósito à vista, poupança e de pagamento pré-paga
      required:
        - identification
      properties:
        identification:
          $ref: '#/components/schemas/Identification'
    AccountIdentificationData:
      type: object
      required:
        - account
      properties:
        account:
          $ref: '#/components/schemas/AccountsIdentification'
    AccountTransactions:
      type: object
      description: |
        Conjunto de informações das Contas de: depósito à vista, poupança e de pagamento pré-paga
      required:
        - transactions
      properties:
        transactions:
          $ref: '#/components/schemas/Transactions'
    AccountTransactionsData:
      type: object
      required:
        - account
      properties:
        account:
          $ref: '#/components/schemas/AccountTransactions'
    Balances:
      type: object
      description: |
        Traz as informações relativas aos saldos para  Contas de: depósito à vista, poupança e de pagamento pré-paga
      required:
        - compeCode
        - branchCode
        - number
        - checkDigit
        - brandName
        - companyCnpj
        - requestDateTime
        - currency
      properties:
        compeCode:
          type: string
          maxLength: 3
          pattern: '\d{3}|^NA$'
          description: |
            Código identificador atribuído pelo Banco Central do Brasil às instituições participantes do STR (Sistema de Transferência de reservas). O número-código substituiu o antigo código COMPE. Todos os participantes do STR, exceto as Infraestruturas do Mercado Financeiro (IMF) e a Secretaria do Tesouro Nacional, possuem um número-código independentemente de participarem da Centralizadora da Compensação de Cheques (Compe). O campo tem a anotação “n/a” (“não se aplica”) para os participantes do STR aos quais não é atribuído um número-código
          example: '001'
        branchCode:
          type: string
          maxLength: 4
          pattern: '\d{4}|^NA$'
          description: |
            Código da Agência detentora da conta
          example: '6272'
        number:
          type: string
          maxLength: 20
          pattern: '\d{20}|^NA$'
          description: |
            Número da conta
          example: '24550245'
        checkDigit:
          type: string
          maxLength: 1
          pattern: \w*\W*
          description: |
            Dígito da conta
          example: '4'
        brandName:
          type: string
          maxLength: 80
          pattern: \w*\W*
          description: |
            Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a marca é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes
          example: Organização A
        companyCnpj:
          type: string
          maxLength: 14
          pattern: '\d{14}|^NA$'
          description: |
            Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara
          example: '21128159000166'
        requestDateTime:
          type: string
          maxLength: 20
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2020-07-21T08:30:00Z'
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
        currency:
          $ref: '#/components/schemas/Currency'
        statementAccount:
          type: array
          items:
            $ref: '#/components/schemas/StatementAccountBalance'
          minItems: 1
          description: |
            Lista os saldos referentes às contas de: depósito à vista, poupança ou de pagamento pré-paga
    BankBorrowingBallonInstalments:
      type: object
      required:
        - dueDate
        - amount
      properties:
        dueDate:
          type: string
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          description: 'Traz a data de vencimento da parcela não regular  a vencer do contrato da modalidade de crédito consultada, conforme especificação RFC-3339'
          maxLength: 10
          example: '2020-01-10'
        amount:
          type: string
          nullable: true
          description: Valor monetário da parcela não regular a vencer.  Expresso em valor monetário com 2 casas decimais
          maxLength: 12
          example: '200.00'
    BankBorrowingBallonPayment:
      type: object
      description: Conjunto de informações relativas às parcelas não regulares do contrato da modalidade de crédito consultada
      required:
        - currency
        - instalments
      properties:
        currency:
          $ref: '#/components/schemas/Currency'
        instalments:
          type: array
          description: Lista que traz as datas de vencimento e valor das parcelas não regulares  do contrato da modalidade de crédito consultada
          items:
            $ref: '#/components/schemas/BankBorrowingBallonInstalments'
    BankBorrowingCompletedPayment:
      type: object
      required:
        - paymentDate
        - dueAmount
      properties:
        paymentDate:
          type: string
          description: 'Traz as datas de vencimento do pagamento do contrato da modalidade de crédito consultada, conforme especificação RFC-3339'
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          maxLength: 10
          example: '2020-01-10'
        dueAmount:
          type: string
          description: Traz o valor do pagamento do contrato da modalidade de crédito consultada. Expresso em valor monetário com 2 casas decimais
          maxLength: 12
          example: '200.00'
    BankBorrowingContract:
      type: object
      description: Conjunto de informações referentes à identificação da operação de crédito
      required:
        - contractId
        - requestDateTime
        - productName
        - productType
        - contractDate
        - disbursementDate
        - contractAmount
        - currency
        - dueDate
        - instalmentPeriodicity
        - dueFirstInstalmentDate
        - totalNumberOfInstalments
        - interestRates
        - financeChargeType
      properties:
        contractId:
          type: string
          maxLength: 67
          description: |
            Número padronizado do contrato - IPOC (Identificação Padronizada da Operação de Crédito). Segundo DOC 3040, composta por: 
            - **CNPJ da instituição:** 8 (oito) posições iniciais;
            - **Modalidade da operação:** 4 (quatro) posições;
            - **Tipo do cliente:** 1 (uma) posição( 1 = pessoa natural - CPF, 2= pessoa jurídica – CNPJ, 3 = pessoa física no exterior, 4 = pessoa jurídica no exterior, 5 = pessoa natural sem CPF e 6 = pessoa jurídica sem CNPJ);
            - **Código do cliente:** O número de posições varia conforme o tipo do cliente:
              1. Para clientes pessoa física com CPF (tipo de cliente = 1), informar as 11 (onze) posições do CPF;
              2. Para clientes pessoa jurídica com CNPJ (tipo de cliente = 2), informar as 8 (oito) posições iniciais do CNPJ;
              3. Para os demais clientes (tipos de cliente 3, 4, 5 e 6), informar 14 (catorze) posições com complemento de zeros à esquerda se a identificação tiver tamanho inferior;
            - **Código do contrato:** 1 (uma) até 40 (quarenta) posições, sem complemento de caracteres.
        requestDateTime:
          type: string
          maxLength: 20
          format: DateTimeString
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2020-07-21T08:30:00Z'
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
        productName:
          type: string
          maxLength: 140
          pattern: \w*\W*
          description: |
            Denominação/Identificação do nome da Modalidade da Operação de Crédito divulgado ao cliente
        productType:
          $ref: '#/components/schemas/EnumBankBorrowingContractProductType'
        contractDate:
          type: string
          description: Data de contratação da operação de crédito. Especificação RFC-3339
          maxLength: 10
          format: DateString
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
        disbursementDate:
          type: string
          description: Data do Desembolso do valor contratado. Especificação RFC-3339
          maxLength: 10
          format: DateString
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
        contractAmount:
          type: string
          maxLength: 12
          format: AmountString
          description: Valor contratado da operação. Expresso em valor monetário com 2 casas decimais
        currency:
          type: string
          pattern: '^(\w{3}){1}$'
          maxLength: 3
          format: CurrencyString
          description: |
            Moeda referente ao valor da garantia, segundo modelo ISO-4217. p.ex. 'BRL' 
            Todos os valores monetários informados estão representados com a moeda vigente do Brasil
          example: BRL
        dueDate:
          type: string
          maxLength: 10
          format: DateString
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          description: Data de vencimento Final da operação. Especificação RFC-3339
        instalmentPeriodicity:
          $ref: '#/components/schemas/EnumBankBorrowingContractInstalmentPeriodicity'
        dueFirstInstalmentDate:
          type: string
          maxLength: 10
          format: DateString
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          description: Data de vencimento primeira parcela
        totalNumberOfInstalments:
          type: string
          description: Prazo Total em meses do contrato referente à Modalidade de Crédito informada
          maxLength: 3
        interestRates:
          type: array
          items:
            $ref: '#/components/schemas/BankBorrowingContractInterestRate'
          minItems: 1
        feeName:
          type: string
          maxLength: 140
          pattern: \w*\W*
          description: Denominação da Tarifa avulsa
        feeCode:
          type: string
          maxLength: 140
          pattern: \w*\W*
          description: Sigla identificadora da tarifa avulsa
        financeChargeType:
          $ref: '#/components/schemas/EnumBankBorrowingContractFinanceChargeType'
        financeChargeAdditionalInfo:
          type: string
          description: Campo de preenchimento obrigatório se selecionada a opção 'OUTROS' em Tipo de encargo avulso
          pattern: \w*\W*
        cnpjGuarantor:
          type: string
          description: |
            CNPJ do consignante (CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica). Deve-se ter apenas os números do CNPJ, sem máscara. Informação adicional específica para Modalidade de Crédito: Empréstimo-Crédito Pessoal Consignado
          maxLength: 14
          pattern: '\d{14}'
    BankBorrowingContractBank:
      type: object
      description: |
        Conjunto de informações de operações de crédito contratadas
      required:
        - contract
      properties:
        contract:
          $ref: '#/components/schemas/BankBorrowingContract'
    BankBorrowingContractData:
      type: object
      required:
        - bankBorrowing
      properties:
        bankBorrowing:
          $ref: '#/components/schemas/BankBorrowingContractBank'
    BankBorrowingContractedWarranty:
      type: object
      description: Conjunto de informações referentes às garantias que avalizam a operação de crédito contratada
      required:
        - warrantyType
        - warrantySubType
        - warrantyAmount
      properties:
        warrantyType:
          $ref: '#/components/schemas/EnumBankBorrowingWarrantyType'
        warrantySubType:
          $ref: '#/components/schemas/EnumBankBorrowingWarrantySubType'
        warrantyAmount:
          type: string
          maxLength: 12
          format: AmountString
          nullable: true
          description: 'Valor original da garantia. Valor monetário, expresso com 2 casas decimais'
    BankBorrowingContractInterestRate:
      type: object
      description: 'Objeto que traz o conjunto de informações necessárias para demonstrar a composição das taxas de juros remuneratórios, do CET e do sistema de Amortização da Modalidade de crédito'
      required:
        - referentialRateIndexerType
        - preFixedRate
        - postFixedRate
        - taxPeriodicity
        - interestRateType
        - calculation
        - additionalInfo
        - taxType
        - CET
        - amortizationSchedule
      properties:
        referentialRateIndexerType:
          $ref: '#/components/schemas/EnumBankBorrowingContractReferentialRateIndexerType'
        referentialRateIndexerAdditionalInfo:
          type: string
          description: 'Campo livre de preenchimento obrigatório para complementar a informação relativa ao Tipo de taxa referencial ou indexador, quando selecionada o tipo ou subtipo OUTRO'
          maxLength: 140
          pattern: \w*\W*
        preFixedRate:
          type: string
          description: |
            Taxa pré fixada aplicada sob o contrato da modalidade crédito. 
            p.ex. 0.0045. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros
            (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)
          maxLength: 6
          pattern: '(^[0-9](\.[0-9]{4})$|^NA$)'
          example: 0.15
        postFixedRate:
          type: string
          description: |
            Taxa pós fixada aplicada sob o contrato da modalidade crédito. 
            p.ex. 0.0045 .O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros
            (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%) 
          maxLength: 6
          pattern: '(^[0-9](\.[0-9]{4})$|^NA$)'
          example: 0.15
        taxPeriodicity:
          $ref: '#/components/schemas/EnumBankBorrowingContractTaxPeriodicity'
        interestRateType:
          $ref: '#/components/schemas/EnumBankBorrowingContractInterestRateType'
        calculation:
          $ref: '#/components/schemas/EnumBankBorrowingContractCalculation'
        additionalInfo:
          type: string
          maxLength: 1200
          description: Texto com informações adicionais sobre a composição das taxas de juros pactuadas
          pattern: \w*\W*
        taxType:
          $ref: '#/components/schemas/EnumBankBorrowingContractTaxType'
        CET:
          type: string
          description: |
            CET – Custo Efetivo Total deve ser expresso na forma de taxa percentual anual e   incorpora todos os encargos e despesas incidentes nas operações de crédito (taxa de juro, mas também tarifas, tributos, seguros e outras despesas cobradas).
            O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros
            (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)
          maxLength: 6
          pattern: '(^[0-9](\.[0-9]{4})$|^NA$)'
          example: 0.15
        amortizationSchedule:
          $ref: '#/components/schemas/EnumBankBorrowingContractAmortizationSchedule'
    BankBorrowingInstalments:
      type: object
      description: Conjunto de informações referentes às parcelas / prestações da operação de crédito contratada
      required:
        - contractId
        - requestDateTime
        - totalNumberOfInstalments
        - contractRemainingMonths
        - dueInstalments
        - pastDueInstalments
        - paidInstalments
        - ballonPayment
      properties:
        contractId:
          type: string
          maxLength: 67
          description: |
            Número padronizado do contrato -IPOC (Identificação Padronizada da Operação de Crédito). Segundo DOC 3040, composta por, :
            - CNPJ da instituição: 8 (oito) posições iniciais;
            - Modalidade da operação: 4 (quatro) posições;
            - Tipo do cliente: 1 (uma) posição( 1 = pessoa natural - CPF, 2= pessoa jurídica – CNPJ, 3 = pessoa física no exterior, 4 = pessoa jurídica no exterior, 5 = pessoa natural sem CPF e 6 = pessoa jurídica sem CNPJ);
            - Código do cliente: O número de posições varia conforme o tipo do cliente:
            1. Para clientes pessoa física com CPF (tipo de cliente = 1), informar as 11 (onze) posições do CPF;
            Para clientes pessoa jurídica com CNPJ (tipo de cliente = 2), informar as 8 (oito) posições iniciais do CNPJ;
            3. Para os demais clientes (tipos de cliente 3, 4, 5 e 6), informar 14 (catorze) posições com complemento de zeros à esquerda se a identificação tiver tamanho inferior;
            - Código do contrato: 1 (uma) até 40 (quarenta) posições, sem complemento de caracteres.
          example: '92792126019929279212650822221989319252576'
        requestDateTime:
          type: string
          maxLength: 20
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2020-01-05T08:30:00Z'
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
        totalNumberOfInstalments:
          type: number
          maxLength: 3
          description: Prazo Total em meses do contrato referente à Modalidade de Crédito informada
          example: '130'
        contractRemainingMonths:
          type: number
          maxLength: 3
          description: Prazo Remanescente em meses do contrato referente à Modalidade de Crédito informada
          example: '57'
        dueInstalments:
          type: number
          maxLength: 3
          description: 'Quantidade de prestações a vencer. (No caso de modalidades que não possuam parcelas, o número de prestações é igual a zero)'
          example: '57'
        pastDueInstalments:
          type: number
          maxLength: 3
          description: 'Quantidade de prestações vencidas. (No caso de modalidades que não possuam parcelas, o número de prestações é igual a zero)'
          example: '73'
        paidInstalments:
          type: number
          maxLength: 3
          description: 'Quantidade de prestações pagas. (No caso de modalidades que não possuam parcelas, o número de prestações é igual a zero)'
          example: '73'
        ballonPayment:
          $ref: '#/components/schemas/BankBorrowingBallonPayment'
    BankBorrowingInstalmentsBank:
      type: object
      description: |
        Conjunto de informações referentes às parcelas / prestações da operação de crédito contratada
      required:
        - instalments
      properties:
        instalments:
          $ref: '#/components/schemas/BankBorrowingInstalments'
    BankBorrowingInstalmentsData:
      type: object
      description: Conjunto de informações de operação de crédito contratadas
      required:
        - bankBorrowing
      properties:
        bankBorrowing:
          $ref: '#/components/schemas/BankBorrowingInstalmentsBank'
    BankBorrowingPaymentBank:
      type: object
      description: |
        Conjunto de informações dos pagamentos referentes às operações de crédito contratadas
      required:
        - payments
      properties:
        payments:
          $ref: '#/components/schemas/BankBorrowingPayments'
    BankBorrowingPayments:
      type: object
      description: Conjunto de informações dos pagamentos referentes às operações de crédito contratadas
      required:
        - contractId
        - requestDateTime
        - paidInstalments
        - nonRegulatedCharge
        - contractOutstandingBalance
        - releases
        - completedPayment
      properties:
        contractId:
          type: string
          maxLength: 67
          description: |
            Número padronizado do contrato -IPOC (Identificação Padronizada da Operação de Crédito). Segundo DOC 3040, composta por, :
            - CNPJ da instituição: 8 (oito) posições iniciais;
            - Modalidade da operação: 4 (quatro) posições;
            - Tipo do cliente: 1 (uma) posição( 1 = pessoa natural - CPF, 2= pessoa jurídica – CNPJ, 3 = pessoa física no exterior, 4 = pessoa jurídica no exterior, 5 = pessoa natural sem CPF e 6 = pessoa jurídica sem CNPJ);
            - Código do cliente: O número de posições varia conforme o tipo do cliente:
            1. Para clientes pessoa física com CPF (tipo de cliente = 1), informar as 11 (onze) posições do CPF;
            Para clientes pessoa jurídica com CNPJ (tipo de cliente = 2), informar as 8 (oito) posições iniciais do CNPJ;
            3. Para os demais clientes (tipos de cliente 3, 4, 5 e 6), informar 14 (catorze) posições com complemento de zeros à esquerda se a identificação tiver tamanho inferior;
            - Código do contrato: 1 (uma) até 40 (quarenta) posições, sem complemento de caracteres.
          example: '92792126019929279212650822221989319252576'
        requestDateTime:
          type: string
          maxLength: 20
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2020-01-05T08:30:00Z'
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
        paidInstalments:
          type: number
          maxLength: 3
          description: Quantidade total de parcelas pagas do contrato referente à Modalidade de Crédito informada
          example: '73'
        nonRegulatedCharge:
          $ref: '#/components/schemas/BankBorrowingNonRegulatedCharge'
        contractOutstandingBalance:
          type: string
          maxLength: 12
          description: 'Saldo devedor Remanescente, divulgado nos canais eletrônicos, do contrato referente à Modalidade de Crédito informada. Expresso em valor monetário com 2 casas decimais'
          example: '11400.00'
        releases:
          $ref: '#/components/schemas/BankBorrowingReleases'
        instalmentPeriodicity:
          $ref: '#/components/schemas/EnumBankBorrowingInstalmentPeriodicity'
        feeName:
          type: string
          description: Denominação da Tarifa avulsa
          maxLength: 140
          pattern: \w*\W*
        feeCode:
          type: string
          description: Sigla identificadora da tarifa avulsa
          maxLength: 140
        financeChargeType:
          $ref: '#/components/schemas/EnumBankBorrowingFinanceChargeType'
        financeChargeAdditionalInfo:
          type: string
          description: Campo de preenchimento obrigatório se selecionada a opção 'OUTROS' em Tipo de encargo avulso
          pattern: \w*\W*
        completedPayment:
          type: array
          description: Lista que traz as datas de vencimento e o valor monetário do pagamento do contrato da modalidade de crédito consultada
          items:
            $ref: '#/components/schemas/BankBorrowingCompletedPayment'
    BankBorrowingPaymentsData:
      type: object
      required:
        - bankBorrowing
      properties:
        bankBorrowing:
          $ref: '#/components/schemas/BankBorrowingPaymentBank'
    BankBorrowingNonRegulatedCharge:
      type: object
      required:
        - currency
      properties:
        currency:
          $ref: '#/components/schemas/Currency'
    BankBorrowingReleases:
      type: object
      description: Lista dos pagamentos realizados no período
      required:
        - paymentType
      properties:
        paymentType:
          type: string
          description: Tipo de pagamento que está sendo informado
          enum:
            - PARCELA_REGULAR
            - PARCELA_NAO_REGULAR
            - TARIFA_AVULSA
            - ENCARGO_AVULSO
            - PAGAMETNO_EXTRAORDINARIO_AMORTIZACAO
          example: PARCELA_REGULAR
    BankBorrowingWarranties:
      type: object
      description: Conjunto de informações referentes às garantias que avalizam a operação de crédito contratada
      required:
        - contractId
        - requestDateTime
        - currency
      properties:
        contractId:
          type: string
          maxLength: 67
          description: |
            Número padronizado do contrato - IPOC (Identificação Padronizada da Operação de Crédito). Segundo DOC 3040, composta por: 
            - **CNPJ da instituição:** 8 (oito) posições iniciais;
            - **Modalidade da operação:** 4 (quatro) posições;
            - **Tipo do cliente:** 1 (uma) posição( 1 = pessoa natural - CPF, 2= pessoa jurídica – CNPJ, 3 = pessoa física no exterior, 4 = pessoa jurídica no exterior, 5 = pessoa natural sem CPF e 6 = pessoa jurídica sem CNPJ);
            - **Código do cliente:** O número de posições varia conforme o tipo do cliente:
              1. Para clientes pessoa física com CPF (tipo de cliente = 1), informar as 11 (onze) posições do CPF;
              2. Para clientes pessoa jurídica com CNPJ (tipo de cliente = 2), informar as 8 (oito) posições iniciais do CNPJ;
              3. Para os demais clientes (tipos de cliente 3, 4, 5 e 6), informar 14 (catorze) posições com complemento de zeros à esquerda se a identificação tiver tamanho inferior;
            - **Código do contrato:** 1 (uma) até 40 (quarenta) posições, sem complemento de caracteres.
        requestDateTime:
          type: string
          maxLength: 20
          format: DateTimeString
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2020-07-21T08:30:00Z'
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
        currency:
          type: string
          pattern: '^(\w{3}){1}$'
          maxLength: 3
          format: CurrencyString
          description: |
            Moeda referente ao valor da garantia, segundo modelo ISO-4217. p.ex. 'BRL' 
            Todos os valores monetários informados estão representados com a moeda vigente do Brasil
          example: BRL
        contractedWarranties:
          type: array
          items:
            $ref: '#/components/schemas/BankBorrowingContractedWarranty'
          minItems: 1
          description: Lista das garantias que avalizam a operação de crédito contratada
    BankBorrowingWarrantiesBank:
      type: object
      description: |
        Conjunto de informações de operações de crédito contratadas
      required:
        - warranties
      properties:
        warranties:
          $ref: '#/components/schemas/BankBorrowingWarranties'
    BankBorrowingWarrantiesData:
      type: object
      required:
        - bankBorrowing
      properties:
        bankBorrowing:
          $ref: '#/components/schemas/BankBorrowingWarrantiesBank'
    BusinessFinancialRelationBrand:
      type: object
      description: Objeto que define a Organização controladora do grupo de instituições financeiras
      required:
        - name
        - companies
      properties:
        name:
          type: string
          pattern: \w*\W*
          maxLength: 80
          description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes'
          example: Organização A
        companies:
          type: array
          items:
            $ref: '#/components/schemas/BusinessFinancialRelationCompany'
          minItems: 1
          description: Companies traz uma lista de todas as instituições da Marca
    BusinessFinancialRelationCompany:
      type: object
      required:
        - name
        - cnpjNumber
        - businessCustomers
      properties:
        name:
          type: string
          maxLength: 80
          pattern: \w*\W*
          description: Nome da marca selecionada pela Organização
          example: Organização A
        cnpjNumber:
          type: string
          maxLength: 14
          pattern: '\d{14}|^NA$'
          description: Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica.
          example: '00000000000100'
        businessCustomers:
          $ref: '#/components/schemas/BusinessFinancialRelationCustomers'
    BusinessFinancialRelationCustomers:
      type: array
      description: Conjunto de informações cadastrais do Cliente pessoa jurídica.
      items:
        type: object
        required:
          - financialRelation
        properties:
          financialRelation:
            $ref: '#/components/schemas/FinancialRelation'
    BusinessFinancialRelationData:
      type: object
      required:
        - brand
      properties:
        brand:
          $ref: '#/components/schemas/BusinessFinancialRelationBrand'
    BusinessIdentification:
      type: object
      description: Conjunto de informações relativas a Identificação ou seja a ação e o efeito de identificar de forma única a pessoa jurídica através de seus dados cadastrais
      required:
        - requestDateTime
        - updateDateTime
        - cnpjNumber
        - otherDocuments
        - companyName
        - parties
        - contacts
      properties:
        requestDateTime:
          type: string
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
          maxLength: 20
          example: '2020-07-21T08:30:00Z'
        updateDateTime:
          type: string
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          description: 'Data e hora da atualização do bloco, conforme especificação RFC-3339'
          maxLength: 20
          example: '2020-07-21T08:30:00Z'
        cnpjNumber:
          description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara'
          type: string
          pattern: '^(\d{14})$|^NA$'
          maxLength: 14
          example: '50685362000135'
        otherDocuments:
          type: array
          items:
            $ref: '#/components/schemas/BusinessOtherDocument'
          minItems: 1
          description: Relação dos demais documentos
        companyName:
          type: string
          maxLength: 70
          pattern: \w*\W*
          description: Razão social da empresa consultada é o termo registrado sob o qual uma pessoa jurídica (PJ) se individualiza e exerce suas atividades. Também pode ser chamada por denominação social ou firma empresarial
        tradeName:
          type: string
          maxLength: 70
          pattern: \w*\W*
          description: 'Nome fantasia da pessoa jurídica, se houver. (É o nome popular da empresa, utilizado para divulgação da empresa e melhor fixação com o público). De preenchimento obrigatório se houver'
        incorporationDate:
          type: string
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          format: DateString
          maxLength: 10
          description: 'Data de constituição da empresa, conforme especificação RFC-3339.'
          example: '2014-03-19'
        parties:
          type: array
          items:
            $ref: '#/components/schemas/PartiesParticipation'
          minItems: 1
          description: |
            Lista relativa às informações das partes envolvidas, como: sócio e /ou administrador
        contacts:
          $ref: '#/components/schemas/CustomerContacts'
[...]
