openapi: 3.0.0
info:
  title: APIs OpenData do Open Banking Brasil
  description: As APIs descritas neste documento são referentes as APIs da fase OpenData do Open Banking Brasil.
  version: 1.1.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: 'http://api.banco.com.br/open-banking/discovery/v1'
tags:
  - name: Discovery
paths:
  /status:
    get:
      tags:
        - Discovery
      summary: a descrição referente ao código de status retornado pelas APIs
      description: descrição referente ao código de status retornado pelas APIs
      operationId: getStatus
      parameters:
        - name: page
          in: query
          description: Número da página que está sendo requisitada (o valor da primeira página é 1).
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: page-size
          in: query
          description: Quantidade total de registros por páginas.
          schema:
            type: integer
            default: 25
            minimum: 1
      responses:
        '200':
          description: código de status retornado pelas APIs
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - status
                    properties:
                      status:
                        type: array
                        items:
                          type: object
                          required:
                            - code
                            - explanation
                          properties:
                            code:
                              type: string
                              enum:
                                - OK
                                - PARTIAL_FAILURE
                                - UNAVAILABLE
                                - SCHEDULED_OUTAGE
                              description: |
                                Condição atual da API:
                                  * `OK` - A implementação é totalmente funcional
                                  * `PARTIAL_FAILURE` - Um ou mais endpoints estão indisponíveis
                                  * `UNAVAILABLE` - A implementação completa está indisponível
                                  * `SCHEDULED_OUTAGE` - Uma interrupção anunciada está em vigor
                              example: OK
                            explanation:
                              type: string
                              description: Fornece uma explicação da interrupção atual que pode ser exibida para um cliente final. Será obrigatoriamente preenchido se code tiver algum valor que não seja OK
                              example: Retorno com Sucesso
                            detectionTime:
                              type: string
                              description: A data e hora em que a interrupção atual foi detectada. Será obrigatoriamente preenchido se a propriedade code for PARTIAL_FAILURE ou UNAVAILABLE
                              example: 2020-07-21T08:30:00.000Z
                            expectedResolutionTime:
                              type: string
                              description: A data e hora em que o serviço completo deve continuar (se conhecido). Será obrigatoriamente preenchido se code tiver algum valor que não seja OK
                              example: 2020-07-21T08:30:00.000Z
                            updateTime:
                              type: string
                              description: A data e hora em que esse status foi atualizado pela última vez pelo titular dos dados.
                              example: 2020-01-02T01:00:00.000Z
                            unavailableEndpoints:
                              type: array
                              description: Endpoints com indisponibilidade
                              items:
                                type: string
                              example:
                                - 'https://api.banco.com.br/open-banking/channels/v1/electronic-channels'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        description: URL da página atualmente requisitada
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                      first:
                        type: string
                        description: URL da primeira página de registros
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                      prev:
                        type: string
                        description: URL da página anterior de registros
                        nullable: true
                      next:
                        type: string
                        description: URL da próxima página de registros
                        nullable: true
                      last:
                        type: string
                        description: URL da última página de registros
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                  meta:
                    type: object
                    properties:
                      totalRecords:
                        type: integer
                        description: Total de registros encontrados
                        example: 1
                      totalPages:
                        type: integer
                        description: Total de páginas para os registros encontrados
                        example: 1
                    required:
                      - totalRecords
                      - totalPages
  /outages:
    get:
      tags:
        - Discovery
      summary: a descrição referente ao código de status retornado pelas APIs
      description: a descrição referente ao código de status retornado pelas APIs
      operationId: getOutage
      parameters:
        - $ref: '#/paths/~1status/get/parameters/0'
        - $ref: '#/paths/~1status/get/parameters/1'
      responses:
        '200':
          description: código de status retornado pelas APIs
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      required:
                        - outageTime
                        - duration
                        - isPartial
                        - explanation
                      properties:
                        outageTime:
                          type: string
                          description: Data e hora planejada do início da indisponibilidade
                          example: 2020-07-21T08:30:00.000Z
                        duration:
                          type: string
                          description: Duração prevista da indisponibilidade
                          example: PT2H30M
                        isPartial:
                          type: boolean
                          description: Flag que indica se a indisponibilidade é parcial (atingindo apenas alguns end points) ou total (atingindo todos os end points)
                          example: false
                        explanation:
                          type: string
                          description: Explicação sobre os motivos da indisponibilidade.
                          example: Atualização do API Gateway
                  links:
                    $ref: '#/paths/~1status/get/responses/200/content/application~1json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1status/get/responses/200/content/application~1json/schema/properties/meta'
